<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
    <img src="./assets/arrowIcon.png" />
    <img src="./assets/UserIcon.png" />
    <label>Doctor</label>
  </div>
  <h3 class="loginHeading">Doctor</h3>
  <br>
  <div id="docInfo">
    <div id="avatardiv">
      <img id="avatarpic" src="./assets/Avatar1.png"/>
      <span id="phyname"> Physician Name, MD</span>
    </div>
    <div class="divs">
      <p class="text"><b>Phone:</b> 000-000-0000</p>
      <button class="buttoncontent">Call</button>
    </div>
    <div class="divs">
      <p class="text"><b>Email:</b> email@email.com</p>
      <button class="buttoncontent">Message</button>
    </div>
  </div>
  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
