<div class="container">
  <!--BharatChadalawada: Added Dialog Close button-->
      <div class="d-flex  justify-content-end">
        <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="row">
  <div class="column">
    <img #refEl1 src="../../assets/Avatar/Avatar1.png" (click)="pickAvatar(refEl1)">
    <img #refEl2 src="../../assets/Avatar/Avatar2.png" (click)="pickAvatar(refEl2)">
    <img #refEl3 src="../../assets/Avatar/Avatar3.png" (click)="pickAvatar(refEl3)">
    <img #refEl4 src="../../assets/Avatar/Avatar4.png" (click)="pickAvatar(refEl4)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl5 src="../../assets/Avatar/Avatar5.png" (click)="pickAvatar(refEl5)">
    <img #refEl6 src="../../assets/Avatar/Avatar6.png" (click)="pickAvatar(refEl6)">
    <img #refEl7 src="../../assets/Avatar/Avatar7.png" (click)="pickAvatar(refEl7)">
    <img #refEl8 src="../../assets/Avatar/Avatar8.png" (click)="pickAvatar(refEl8)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl9 src="../../assets/Avatar/Avatar9.png" (click)="pickAvatar(refEl9)">
    <img #refEl10 src="../../assets/Avatar/Avatar10.png" (click)="pickAvatar(refEl10)">
    <img #refEl11 src="../../assets/Avatar/Avatar11.png" (click)="pickAvatar(refEl11)">
    <img #refEl12 src="../../assets/Avatar/Avatar12.png" (click)="pickAvatar(refEl12)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl13 src="../../assets/Avatar/Avatar13.png" (click)="pickAvatar(refEl13)">
    <img #refEl14 src="../../assets/Avatar/Avatar14.png" (click)="pickAvatar(refEl14)">
    <img #refEl15 src="../../assets/Avatar/Avatar15.png" (click)="pickAvatar(refEl15)">
    <img #refEl16 src="../../assets/Avatar/Avatar16.png" (click)="pickAvatar(refEl16)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl17 src="../../assets/Avatar/Avatar17.png" (click)="pickAvatar(refEl17)">
    <img #refEl18 src="../../assets/Avatar/Avatar18.png" (click)="pickAvatar(refEl18)">
    <img #refEl19 src="../../assets/Avatar/Avatar19.png" (click)="pickAvatar(refEl19)">
    <img #refEl20 src="../../assets/Avatar/Avatar20.png" (click)="pickAvatar(refEl20)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl21 src="../../assets/Avatar/Avatar21.png" (click)="pickAvatar(refEl21)">
    <img #refEl22 src="../../assets/Avatar/Avatar22.png" (click)="pickAvatar(refEl22)">
    <img #refEl23 src="../../assets/Avatar/Avatar23.png" (click)="pickAvatar(refEl23)">
    <img #refEl24 src="../../assets/Avatar/Avatar24.png" (click)="pickAvatar(refEl24)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl25 src="../../assets/Avatar/Avatar25.png" (click)="pickAvatar(refEl25)">
    <img #refEl26 src="../../assets/Avatar/Avatar26.png" (click)="pickAvatar(refEl26)">
    <img #refEl27 src="../../assets/Avatar/Avatar27.png" (click)="pickAvatar(refEl27)">
    <img #refEl28 src="../../assets/Avatar/Avatar28.png" (click)="pickAvatar(refEl28)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl29 src="../../assets/Avatar/Avatar29.png" (click)="pickAvatar(refEl29)">
    <img #refEl30 src="../../assets/Avatar/Avatar30.png" (click)="pickAvatar(refEl30)">
    <img #refEl31 src="../../assets/Avatar/Avatar31.png" (click)="pickAvatar(refEl31)">
    <img #refEl32 src="../../assets/Avatar/Avatar32.png" (click)="pickAvatar(refEl32)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl33 src="../../assets/Avatar/Avatar33.png" (click)="pickAvatar(refEl33)">
    <img #refEl34 src="../../assets/Avatar/Avatar34.png" (click)="pickAvatar(refEl34)">
    <img #refEl35 src="../../assets/Avatar/Avatar35.png" (click)="pickAvatar(refEl35)">
    <img #refEl36 src="../../assets/Avatar/Avatar36.png" (click)="pickAvatar(refEl36)">
  </div>
</div>
<div class="row">
  <div class="column">
    <img #refEl37 src="../../assets/Avatar/Avatar37.png" (click)="pickAvatar(refEl37)">
    <img #refEl38 src="../../assets/Avatar/Avatar38.png" (click)="pickAvatar(refEl38)">
    <img #refEl39 src="../../assets/Avatar/Avatar39.png" (click)="pickAvatar(refEl39)">
    <img #refEl40 src="../../assets/Avatar/Avatar40.png" (click)="pickAvatar(refEl40)">
  </div>
</div>
</div>




<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->