.bottom{
  padding-bottom: 10px;
}
.page-footer {
  background-color: #2d5059;
  color: white;
}

.logo {
  width: 100px;
  margin: 5px 20px;
}
.description{
  margin-left: 20px;
  width: 70%;
  font-size: 14px;
}
.icons{
  margin-left: 20px;
  margin-top: 20px;
}
.icons img{
  width: 20px;
  margin: 0 5px;
}

.col ul li a{
  color: white;
  font-size: 14px;
}
.middle{
  padding: 0 40px;
  border: solid white;
  margin-right: 20px;
  border-top: 0px;
  border-bottom: 0px;
}
.footer-copyright{
  font-family: Lato,sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: white;
  line-height: 1.6;
  height: 64px;
  background-color: #2d5059;
  padding-top: 18px;
}
.footer-copyright a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.top{
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 0 auto !important;
}
hr{
  background-color: #2d5059;
}
.logo-center{
  display: flex;
  margin: 0 auto;
}
.icons-center{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media only screen
and (max-width: 600px){
  .col{
    padding-top: 0;
    padding-bottom:0;
    border: none;
    margin-right: 20px;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
  }
  .middle{
  padding: none ;
  border: none;
  margin-right: none;
  border-top: none;
  border-bottom: none;
  }
  .footer-copyright{
    padding-bottom:10px;
  }
}
.sm-footer{
  margin-top: 30px;
}

