<!--
Register Paitent Form
-->
<!-- Stephanie - updated to match user story -->



<!-- healthcare register -->
<div>
  <app-healthcare-header>
    <img
      src="./assets/avatarSignup.png"
      style="height: 48px; width: 48px; float: right"
    />
  </app-healthcare-header>
  <h3 class="loginHeading">Provider Sign Up</h3>
  <!-- BharatChadalawada: Added link to route to patient sign up -->
  <div class="form-element" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0px 0px 5px 0px">
    <div style="align-center: flex-start;">Patients:</div>
    <div>
      Please sign up through the
      <a routerLink="/patients/signup" style="text-decoration: underline">patient portal</a>
    </div>
</div>

  <div class="card">
    <div class="card-container">
      <hr />
      <div class="sectionHeading">
        <img src="./assets/personalInfoIcon.png" />
        <label>Personal Information</label>
      </div>
      <form ngNativeValidate [formGroup]="Form" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>First Name</label>
              <input [class.is-invalid]="Form.get('firstName').invalid && Form.get('firstName').touched
                "
                formControlName="firstName"
                type="text"
                class="form-control"
                required
              />
            </div>

          </div>
          <!----Column1-->

          <div class="col-sm-6">
            <div class="form-group">
              <label>Last Name</label>
              <input
                [class.is-invalid]="
                  Form.get('lastName').invalid && Form.get('lastName').touched
                "
                formControlName="lastName"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>
          <!--Column2-->
        </div>
        <!--Row1-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Email</label>
              <input
                [class.is-invalid]="
                  Form.get('email').invalid && Form.get('email').touched
                "
                formControlName="email"
                type="email"
                class="form-control"
                required
              />
              <!-- <small
                    [class.d-none]="
                      Form.get('email').valid || Form.get('email').untouched
                    "
                    class="text-danger"
                    >Email is required.</small
                  > -->
              <!-- <small *ngIf="userAlreadyExist" class="text-danger"
                    >User already exists</small
                  > -->
            </div>
          </div>
          <!--Column1-->
        </div>
        <!--Row2-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Phone</label>
              <input
                [class.is-invalid]="
                  Form.get('phone').invalid && Form.get('phone').touched
                "
                formControlName="phone"
                type="text"
                [textMask]="{ mask: phonemask }"
                class="form-control"
                required
              />
              <!-- <small [class.d-none]="Form.get('phone').valid || Form.get('phone').untouched" class="text-danger">Phone is required.</small> -->
            </div>
          </div>
          <!--Col1-->
        </div>
        <!--Row3-->
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Organization Name</label>
              <input
                [class.is-invalid]="
                  Form.get('companyName').invalid &&
                  Form.get('companyName').touched
                "
                formControlName="companyName"
                type="text"
                class="form-control"
                required
              />
              <!-- <small [class.d-none]="Form.get('companyName').valid || Form.get('companyName').untouched" class="text-danger">Company Name is required.</small> -->
            </div>
          </div>
          <!---Col1-->
          <div class="col-sm-6">
            <div class="form-group">
              <label>Position in Organization</label>
              <input
                [class.is-invalid]="
                  Form.get('roleInCompany').invalid &&
                  Form.get('roleInCompany').touched
                "
                formControlName="roleInCompany"
                type="text"
                class="form-control"
                required
              />
              <!-- <small [class.d-none]="Form.get('roleInCompany').valid || Form.get('roleInCompany').untouched" class="text-danger">Role in company is required.</small> -->
            </div>
          </div>
          <!--Col2-->
        </div>
        <!--Row4-->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>EHR</label>
              <select
                class="form-control dropdown"
                formControlName="ehr"
                required
              >
                <option value="Epic">Epic</option>
                <option value="All_Scripts">All Scripts</option>
                <option value="Cerner">Cerner</option>
                <option value="Athena_Health">Athena Health</option>
              </select>
            </div>
          </div>
        </div>
        <!--Row5-->
        <hr />
        <div class="sectionHeading">
          <img src="./assets/passwrdIcon.png" />
          <label>Password</label>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label> Password</label>
              <label style="font-size: 12px; color: #1d1f26"
                >Password requires a capital letter, number, and special
                symbol(such as: !,@,?...)</label
              >

              <input
                [class.is-invalid]="
                  Form.get('password').invalid && Form.get('password').touched
                "
                formControlName="password"
                type="password"
                class="form-control"
                required
              />
              <!-- <small [class.d-none]="Form.get('password').valid || Form.get('password').untouched" class="text-danger">Password requires a capital letter, number and special symbol(such as: !,@,?...)</small> -->
            </div>
          </div>
          <!--Col1-->
          <div class="col-sm-6" style="margin-top: 42px">
            <div class="form-group">
              <label>Retype New Password</label>
              <input
                [class.is-invalid]="
                  Form.get('password').invalid && Form.get('password').touched
                "
                formControlName="password"
                type="password"
                class="form-control"
                required
              />
            </div>
          </div>
          <!--Col2-->
        </div>
        <!--Row6-->
        <hr />
        <div class="sectionHeading">
          <img src="./assets/profileImg.png" />
          <label>Profile Image</label>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <img
                id="avataricon"
                src="./assets/avatarSignup.png"
                style="height: 144px; width: 144px; margin-left: 18px"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Upload a Photo</label><br />
              <div class="element">
                <label class="btn">
                  <img src="./assets/cameraIcon.png" />
                  <label style="margin-left: 8px; margin-top: 4px">
                    Select File</label
                  >
                  <input type="file" style="display: none" />
                </label>
              </div>
              <!--Element-->
            </div>
          </div>
        </div>
        <!---Row8-->
        <div class="hr-sect">or</div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Select an Avatar</label><br />
              <div
                class="element"
                style="font-size: 18px"
                (click)="openDialog()"
              >
                <label class="btn">
                  <img src="./assets/viewAvatarIcon.png" />
                  View Avatars
                  <!--Avatar component needed-->
                  <!--<input style="display: none" mat-button (click)="openDialog()"/>-->
                </label>
              </div>
              <!--Element-->
            </div>
          </div>
        </div>
        <!---Row9-->
        <hr />
        <div class="row">
          <div class="col">
            <div class="form-group" style="float: left">
              <button
                type="button"
                onclick="window.location.href='faq'"
                class="helpBtn"
              >
                Help
              </button>
            </div>
          </div>
          <div class="col">
            <div class="form-group" style="float: right">
              <button type="submit" class="submit signUpBtn">Sign Up</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-healthcare-footer></app-healthcare-footer>
</div>
<!-- <section class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div id= "registrationForm"class="login px-sm-4 mx-auto mw-100 login-wrapper">
      <div class="title-section mb-md-5 mb-4">
        <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Register</h3>
      </div>
      <form ngNativeValidate [formGroup]="Form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label>First Name*</label>
            <input [class.is-invalid]="Form.get('firstName').invalid && Form.get('firstName').touched" formControlName="firstName" type="text" class="form-control" required>
            <small [class.d-none]="Form.get('firstName').valid || Form.get('firstName').untouched" class="text-danger">First Name is required.</small>
          </div>
             <div class="form-group">
                <label>Last Name*</label>
                <input [class.is-invalid]="Form.get('lastName').invalid && Form.get('lastName').touched" formControlName="lastName" type="text" class="form-control" required>
                <small [class.d-none]="Form.get('lastName').valid || Form.get('lastName').untouched" class="text-danger">Last Name is required.</small>
              </div>
                 <div class="form-group">
                    <label>Email*</label>
                    <input [class.is-invalid]="Form.get('email').invalid && Form.get('email').touched" formControlName="email" type="email" class="form-control" required>
                    <small [class.d-none]="Form.get('email').valid || Form.get('email').untouched" class="text-danger">Email is required.</small>
                    <small  *ngIf = userAlreadyExist class="text-danger">User already exists</small>
                  </div>
                  <div class="form-group">
                    <label>Phone*</label>
                    <input [class.is-invalid]="Form.get('phone').invalid && Form.get('phone').touched" formControlName="phone" type="text" [textMask]="{mask: phonemask}" class="form-control" required>
                    <small [class.d-none]="Form.get('phone').valid || Form.get('phone').untouched" class="text-danger">Phone is required.</small>
                  </div>
                  <div class="form-group">
                    <label>Company Name*</label>
                    <input [class.is-invalid]="Form.get('companyName').invalid && Form.get('companyName').touched" formControlName="companyName" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('companyName').valid || Form.get('companyName').untouched" class="text-danger">Company Name is required.</small>
                  </div>
                  <div class="form-group">
                    <label>EHR*</label>
                    <select class="form-control dropdown" style="border:1px solid #ced4da!important;" formControlName="ehr" required>
                      <option value="Epic">Epic</option>
                      <option value="All_Scripts">All Scripts</option>
                      <option value="Cerner">Cerner</option>
                      <option value="Athena_Health">Athena Health</option>
                    </select> -->
<!--<input [class.is-invalid]="Form.get('ehr').invalid && Form.get('ehr').touched" formControlName="ehr" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('ehr').valid || Form.get('ehr').untouched" class="text-danger">EHR is required.</small>-->
<!-- </div>
                  <div class="form-group">
                    <label>Role in Company*</label>
                    <input [class.is-invalid]="Form.get('roleInCompany').invalid && Form.get('roleInCompany').touched" formControlName="roleInCompany" type="text" class="form-control" required>
                    <small [class.d-none]="Form.get('roleInCompany').valid || Form.get('roleInCompany').untouched" class="text-danger">Role in company is required.</small>
                  </div>
                  <div class="form-group">
                    <label> Password*</label>
                    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,^,&,*]).{6,20}" [class.is-invalid]="Form.get('password').invalid && Form.get('password').touched" formControlName="password" type="password" class="form-control" required>
                    <small [class.d-none]="Form.get('password').valid || Form.get('password').untouched" class="text-danger">Password requires a capital letter, number and special symbol(ex: !,@,?...)</small>
                  </div>
                       <div class="n-right-w3ls mt-5 pt-lg-4">
                        <button class="submit btn font-weight-bold" type="submit">Register</button>
                      </div>
    </form>
    </div>
  </div>
  <div class="py-5" id="registersuccessful">
    <h1 align="center">Thank you for registering. Please verify your account by checking your email!</h1>
  </div>
</section> -->
<!-- //healthcare register -->

<!-- footer -->

<!-- //footer -->
