<!-- Kefan - developed the entire page -->
<div class="content">
  <div>
    <div>
      <mat-card class="mat-elevation-z4 industry-card" (click)="Relocate()">
        <div class="blogTop">
          <img mat-card-image style="height: 38.89%; max-height: 175px; object-fit: cover;"
            src="../../assets/images/blog_bckgrd.jpg" />
          <p mat-card-title> What {{blogCategory}} is Saying</p>
        </div>

        <!-- <mat-card-header> -->
        <mat-card-content class="container" style="height: 55%;" fxLayout="col" fxLayoutAlign="center">
          <div class="align-self-center">
            <p style="text-align: center; width: 100%;"> "{{blogDescription}}"</p>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>