<!--
Register All Form
-->

<!DOCTYPE html>
<html lang="zxx">

<body>

<!-- //main -->

<!-- Register all -->
<section class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section mb-md-5 mb-4">
      <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Register</h3>
    </div>
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
      <form class="login-wrapper" action="#" method="post">
        <div class="form-group">


            <label>Type of User*</label>
          <select class="form-control" name="usertype" required>
            <option value="">Select One</option>
            <option value="Potential_Patient">Patient</option>
            <option value="Potential_Healthcare_Provider">Healthcare Provider</option>
            <option value="Potential_Insurance_Provider">Insurance Provider</option>
            <option value="Potential_Pharmacist">Pharmacist</option>
          </select>
        </div>
        <button routerLink="/patient/register" type="submit" class="btn submit mt-4">Submit</button>
      </form>
    </div>
  </div>
</section>
<!-- //register all -->

<!-- footer -->
<app-footer id="footer"></app-footer>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>

</html>



