<!-- Authors and their contributions: -->
<!-- Vidit: Redesigned the form and did UI enhancements -->
<!-- Daniel: added submit functionality and had type of business passed to typescript file -->


<app-landing-page-header></app-landing-page-header>
<div id="partnership-div">
  <p class="bpHeader text-center pt-5">Partnerships are Awesome!</p>
  <p class="bpSubHeader text-center">
    Use the form below to contact the ScriptChain Health Team about partnership
    opportunites.
  </p>
  <div id="partnership-form">
    <form
      class="bpForm container pb-3 pt-4"
      ngNativeValidate
      (ngSubmit)="submitForm()"
      [formGroup]="partnerForm"
      fxFlex
      fxLayout="column"
    >
      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="firstName">
          <label>First Name</label>
          <br />
          <input [ngClass]="{'error':firstName && firstName.invalid && firstName.touched}" required formControlName="firstName" />

        </div>

        <div class="lastName">
          <label>Last Name</label>
          <br />
          <input [ngClass]="{'error':lastName && lastName.invalid && lastName.touched}" required formControlName="lastName" />
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="email">
          <label>Email</label>
          <br />
          <input [ngClass]="{'error':email && email.invalid && email.touched}" required formControlName="email" />
        </div>

        <div class="primaryPhone">
          <label>Primary Phone</label>
          <br />
          <input mask='(000)000-0000' [ngClass]="{'error':phone && phone.invalid && phone.touched}" required formControlName="phone" />
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="jobTitle">
          <label>Job Title</label>
          <br />
          <input [ngClass]="{'error':job && job.invalid && job.touched}" required formControlName="job" />
        </div>
      </div>

      <h3 class="divider container text-center mt-5 mb-5"></h3>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="companyName">
          <label>Company Name</label>
          <br />
          <input [ngClass]="{'error':company_name && company_name.invalid && company_name.touched}" required formControlName="company_name" />
        </div>
        <div class="typeOfBusiness">
          <label>Type of Business</label>
          <br />
          <select name="typeOfBusiness" required formControlName="buisness_type">
            <option value="provider">Provider</option>
            <option value="healthcareInstitution">
              Healthcare Institution
            </option>
            <option value="insurer">Insurer</option>
            <option value="socialMedia">Social Media</option>
            <option value="investor">Investor</option>
            <option value="healthcareit">Healthcare IT</option>
            <option value="entepreneur">Entrepreneur</option>
          </select>
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="streetAddress">
          <label>Company Street Address</label>
          <br />
          <input [ngClass]="{'error':company_adr && company_adr.invalid && company_adr.touched}" required formControlName="company_adr" />
        </div>

        <div class="city">
          <label for="city">City</label>
          <br />
          <input [ngClass]="{'error':city && city.invalid && city.touched}" required formControlName="city" />
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="state">
          <label for="state">State</label>
          <br />
          <input [ngClass]="{'error':state && state.invalid && state.touched}" required formControlName="state" />
        </div>

        <div class="zipCode">
          <label mask="00000" for="zipCode">Zip Code</label>
          <br />
          <input [ngClass]="{'error':zipCode && zipCode.invalid && zipCode.touched}" required formControlName="zipCode" />
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        fxLayout.gt-sm="row"
        class="partnership-flex-row"
      >
        <div class="country">
          <label for="country">Country</label>
          <br />
          <input [ngClass]="{'error':country && country.invalid && country.touched}" required formControlName="country" />
        </div>
      </div>

      <div fxFlex fxLayout="row">
        <button type="submit" class="sendBtn mt-3">Submit</button>
      </div>
    </form>
  </div>
</div>
<app-landing-page-subfooter></app-landing-page-subfooter>
