<!--
healthcare login
//Charan Jagwani - UI changes
-->
<!-- Daniel - removed extra password box and added break between "New to ScriptChain?" and sign up button 
            - added link to FAQ on click for help button-->
<!-- Siheng - Add route to reset password -->

<!-- healthcare login -->
<div class="body">
  <div fxLayout="column">
    <app-healthcare-header></app-healthcare-header>
    <h3 class="loginHeading">Provider Login</h3>
    <!--heading--->
    <div class="card">
      <div class="container">
        <form
          ngNativeValidate
          [formGroup]="Form"
          (ngSubmit)="onSubmit()"
          fxLayout.md="column"
        >
          <div class="form-element" style="margin: 0px 0px 5px 0px">
            <br />
            Patients: Please log in through the
            <a routerLink="/patient/login" style="text-decoration: underline"
              >patient portal</a
            >
            <br />
          </div>

          <div class="form-element">
            <label>Email</label>

            <input
              [class.is-invalid]="
                Form.get('emailAddress').invalid &&
                Form.get('emailAddress').touched
              "
              formControlName="emailAddress"
              type="email"
              class="form-control"
              id="emailAddress"
              required
            />
            <small
              [class.d-none]="
                Form.get('emailAddress').valid ||
                Form.get('emailAddress').untouched
              "
              class="text-danger"
              >Email is required.</small
            >
          </div>
          <div class="form-element">
            <label>Password</label>
            <input
              [class.is-invalid]="
                Form.get('password').invalid && Form.get('password').touched
              "
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              required
            />
            <small
              [class.d-none]="
                Form.get('password').valid || Form.get('password').untouched
              "
              class="text-danger"
              >Password is required <br
            /></small>
            <label
              style="font-size: 13px; color: #5c8a96"
              onclick="window.location.href='healthcare/password/reset'"
              >Forgot your password?</label
            >
          </div>
          <small id="invalidEmailPrompt" class="text-danger d-none"
            >Email does not exist</small
          >
          <small id="invalidPasswordPrompt" class="text-danger d-none"
            >Please recheck your password</small
          >
          <div class="form-element">
            <button type="submit" class="loginBtn">Login</button>
          </div>
          <div class="form-element">
            <button
              type="button"
              onclick="window.location.href='faq'"
              class="helpBtn"
            >
              Help
            </button>
          </div>
          <hr />

          <div class="form-element">
            <label>New to ScriptChain?</label>
            <br />
            <button
              type="button"
              class="signUpBtn"
              style="margin: 0px 0px 5px 0px"
              routerLink="/healthcare/register"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <app-healthcare-footer></app-healthcare-footer>
</footer>
