<!-- Denis H Rework -->
<!-- DenisH Holds the entire screen -->
<div class="body">
  <div class="cardContainer">
    <!-- DenisH Holds the card -->
    <div class="card">
      <!-- DenisH Add the user/ Top of the card -->
      <div class="addUser">
        <img src="./assets/userADD.png" />
        <h1>Add User</h1>
        <a (click)="navigate()"
          ><img id="close" src="../../assets/icons/close.svg" alt=""
        /></a>
      </div>
      <!-- DenisH Horizontal Line -->
      <div id="horizontalLine"></div>
      <!-- DenisH Timeline/Progress bar -->
      <div class="timeline">
        <div id="progress-bar-container">
          <!--DenisH Each progress bar -->
          <ul>
            <li class="step step01 active">
              <div class="step-inner">User Info</div>
            </li>
            <li
              class="step step02"
              [class.active]="progressBar == 1 || progressBar > 1"
            >
              <div class="step-inner">Widgets</div>
            </li>
            <li
              class="step step03"
              [class.active]="progressBar == 2 || progressBar > 2"
            >
              <div class="step-inner">Sign-up</div>
            </li>
            <li
              class="step step04"
              [class.active]="progressBar == 3 || progressBar > 3"
            >
              <div class="step-inner">Finish</div>
            </li>
          </ul>
          <!--DenisH The line connecting the progress bar -->
          <div id="line">
            <!--DenisH We set the progress bar in ts file to fill it or not -->
            <div
              *ngIf="progressBar == 0"
              style="width: 5%"
              id="line-process"
            ></div>
            <div
              *ngIf="progressBar == 1"
              style="width: 34%"
              id="line-process"
            ></div>
            <div
              *ngIf="progressBar == 2"
              style="width: 67%"
              id="line-process"
            ></div>
            <div
              *ngIf="progressBar == 3"
              style="width: 100%"
              id="line-process"
            ></div>
          </div>
        </div>
      </div>
      <!--DenisH First card User info -->
      <div id="card1" class="cards">
        <div class="heading">
          <img src="./assets/infoIcon.png" />
          <label>User Info</label>
        </div>
        <label class="infoHeadings">Who is the user?</label>
        <!-- DenisH Radio button to select if its patient or caregiver -->
        <div class="radioButtons">
          <!-- DenisH Radio for patient -->
          <!-- DenisH userChangeHandler changes the value of the radio -->
          <div [class.selected]="user == 'patient'">
            <input
              type="radio"
              name="radio"
              value="patient"
              id="patient"
              (change)="userChangeHandler($event)"
            />
            <label for="patient">The Patient</label><br />
          </div>
          <!-- DenisH Radio for caregiver -->
          <div [class.selected]="user == 'caregiver'">
            <input
              type="radio"
              name="radio"
              id="caregiver"
              value="caregiver"
              (change)="userChangeHandler($event)"
            />
            <label for="caregiver">A Caregiver</label><br />
          </div>
        </div>
        <!-- DenisH If they selected caregiver they have more choices -->
        <div *ngIf="user == 'caregiver'">
          <label class="infoHeadings"
            >What Is Their Relation to the Patient?</label
          >
          <div class="radioButtons">
            <!-- DenisH cargiverChangeHandler changes the value of the radio -->
            <div [class.selected]="cargiver == 'relative'">
              <input
                type="radio"
                name="radio"
                value="relative"
                id="relative"
                (change)="cargiverChangeHandler($event)"
              />
              <label for="relative">Relative</label><br />
            </div>
            <div [class.selected]="cargiver == 'healthAide'">
              <input
                type="radio"
                name="radio"
                id="healthAide"
                value="healthAide"
                (change)="cargiverChangeHandler($event)"
              />
              <label for="healthAide">Home Health Aide</label><br />
            </div>
            <div [class.selected]="cargiver == 'nurse'">
              <input
                type="radio"
                name="radio"
                value="nurse"
                id="nurse"
                (change)="cargiverChangeHandler($event)"
              />
              <label for="nurse">Certified Nursing Assistant</label><br />
            </div>
          </div>
        </div>
        <!--DenisH Form -->
        <form [formGroup]="addForm">
          <!--DenisH Each row has 2 cols -->
          <div class="row">
            <!--DenisH Each Col has its label and input field -->
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  formControlName="fName"
                  class="form-control"
                  required
                />
                <small *ngIf="name.invalid && name.touched" class="text-danger"
                  >First name is Required</small
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  formControlName="lName"
                  class="form-control"
                  required
                />
                <small
                  *ngIf="lName.invalid && lName.touched"
                  class="text-danger"
                  >Last name is Required</small
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  required
                />
                <small
                  *ngIf="email.invalid && email.touched"
                  class="text-danger"
                  >Email is Invalid</small
                >
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Phone</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="phone"
                  required
                  mask="(000)-000-0000"
                />
                <small
                  *ngIf="phone.invalid && phone.touched"
                  class="text-danger"
                  >Phone number is Invalid</small
                >
              </div>
            </div>
          </div>
          <!--DenisH If it is a caregiver display employer -->
          <div *ngIf="user == 'caregiver'" class="row">
            <div class="col">
              <div class="form-group">
                <label>Employer</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="employer"
                />
              </div>
            </div>
            <!--DenisH Employer input should not have 2 col width so we add an empty one -->
            <div class="col"></div>
          </div>
        </form>
      </div>
      <!--DenisH Card 2 -->
      <!-- DenisH All cards except the first should have display none and we change it after -->
      <div id="card2" class="cards" style="display: none">
        <div class="heading">
          <!-- DenisH Heading -->
          <img src="./assets/Icon.png" />
          <label>Widgets</label>
          <br />
          <div id="options">
            Options for what will be displayed in the patient portal
          </div>
        </div>
        <br />
        <br />
        <!-- DenisH Table header list-->
        <div class="bottom" id="info1">
          <div id="type" class="heading1">Type</div>
          <div id="show" class="heading1">Show</div>
          <div id="subtype" class="heading1">Subtype</div>
        </div>
        <!--DenisH Creates a div for each element on widgetList -->
        <div *ngFor="let widgets of widgetList">
          <div id="horizontalLine2"></div>
          <div class="bottom">
            <!-- label has name from the widgetList.name -->
            <label class="type">{{ widgets.name }}</label>
            <!--DenisH A checkbox for every label -->
            <input
              name="{{ widgets.name }}"
              type="checkbox"
              class="switch"
              [(ngModel)]="widgets.checkSelected"
            />
            <!--DenisH A selector excits if options excits in the object -->
            <select
              *ngIf="widgets.options"
              name="widgets.optionSelected"
              id="widgets.optionSelected"
              [(ngModel)]="widgets.optionSelected"
              class="select"
            >
              <!--DenisH For each element of the object we have an option -->
              <option *ngFor="let options of widgets.options" [value]="options">
                {{ options }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- DenisH Card3 -->
      <div id="card3" class="cards" style="display: none">
        <div class="heading">
          <img src="./assets/Icon1.png" />
          <label>Sign-Up</label>
          <br />
        </div>
        <label class="infoHeadings"
          >How will the user be prompted to sign up?</label
        >
        <br />
        <div class="box">
          <input
            type="checkbox"
            id="emailChecked"
            name="emailChecked"
            value="emailChecked"
            checked
          />
          <label for="emailChecked"><span id="space">Email</span></label
          ><br />
          <input
            type="checkbox"
            id="smsChecked"
            name="smsChecked"
            value="smsChecked"
            checked
          />
          <label for="smsChecked"
            ><span id="space">Mobile Text Message</span></label
          ><br />
        </div>
      </div>
      <!--DenisH Card4 -->
      <div id="card4" class="cards" style="display: none">
        <div class="heading">
          <img src="./assets/Icon2.png" />
          <label>User has been created</label>
        </div>
        <br />
        <ul>
          <li id="sms">A text message has been sent with sign-up instructions</li>
          <li id="email">An email has been sent with sign-up instructions</li>
        </ul>
        <br />
        <div id="bot">
          To send additional notifications or print another document, please
          access the user's configuration page
        </div>
        <div class="row">
          <div class="col"></div>
        </div>
      </div>
      <!-- DenisH Next/Back Buttons -->
      <div class="buttons">
        <button *ngIf="progressBar < 3" (click)="back()">Back</button>
        <button
          class="blueBtn"
          *ngIf="progressBar == 0"
          (click)="next()"
          [disabled]="addForm.invalid"
        >
          Next
        </button>
        <button class="blueBtn" *ngIf="progressBar == 1" (click)="next()">
          Next
        </button>
        <button
          class="blueBtn"
          *ngIf="progressBar == 2"
          (click)="next(); displayAllInfo()"
        >
          Finish
        </button>
        <button
          (click)="navigate()"
          class="blueBtn"
          id="closeBtn"
          *ngIf="progressBar == 3"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
