<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements" style="padding: 0.7%">
    <img src="./assets/backArrow.png" />

    <label>Back to Prescriptions</label>
  </div>
  <div id="medicdetails">
    <div id="uppertext">
      <span class="medicationstext">Procedure Name</span>
    </div>
    <p><span class="bolded">Date Performed: </span> mm/dd/yyyy</p>
    <p><span class="bolded">Performed by: </span>Dr. First Last, MD</p>
    <p><span class="bolded">Physician Notes: </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Aliquam nec mauris semper, aliquam est et, sodales elit. Fusce vel rhoncus lacus,
        vitae finibus odio. Aliquam id eros eget est molestie ultricies.</p>
    <button class="buttoncontent">Contact Physician</button>
  </div>
  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
