.inline-elements label {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  color: #575b66;
  font-style: normal;
  font-size: 14px;
  margin-top: calc(50% - 17px / 2);
  line-height: 17px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.inline-elements {
  padding: 0.7%;
}
.loginHeading {
  font-family: "Tinos", serif;
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.images {
  margin-left: 0.9%;
  margin-bottom: 80%;
  margin-top: 20px;
}

.colr{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 16px;
  position: static;
  height: 56px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  margin: 0px 0px;
}

.green{
  color: #104F1D;
  border: 1px solid #104F1D;
  background: #EDFFF1;
}

#medicdetails{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 84%;
  left: 3%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgb(29 31 38 / 15%);
  border-radius: 8px;
  padding-top: 5%;
  margin: 2.5% auto;
  font-family: Lato;
}

.buttoncontent{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 9px 40px;
  position: static;
  width: 96%;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #5C8A96;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-flex: 0;
  flex: none;
  -webkit-box-ordinal-group: 2;
  order: 1;
  flex-grow: 0;
  margin-left: 2%;
  color: #5C8A96;
  margin-bottom: 2%;
  font-weight: bold;
}

.bolded{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1D1F26;
}

p{
  margin-left: 3%;
  margin-top: 2%;
}
#uppertext{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #B0B4BF;
  width: 100%;
}

.medicationstext{
  height: 29px;
  left: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #1D1F26;
  margin: 0 0 2% 3%;
}