<!-- footer -->
<footer class="py-5" id="footer">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="col-lg-7 w3l-footer">
        <!-- logo -->
        <div class="logo2">
          <h2>
            <a href="index.html">
              <span class="fa fa-user-md"></span>
              <span class="logo-sp">ScriptChain</span>
            </a>
          </h2>
        </div>
        <!-- //logo -->
        <p class="mt-4 text-light">
          An AI based platform that helps physicians identify high risk patients for chronic heart disease and readmission with actionable insights.
        </p>
        <ul class="list-unstyled list-styles mt-lg-5 mt-4">
          <li>
            <p class="text-light">
              <span class="fa fa-location-arrow"></span>Boston, MA
            </p>
          </li>
          <li>
            <h3 class="mt-5 mb-3 text-wh">Legal</h3>
          </li>
          <li class="mb-3">
            <a class="text-wh" routerLink="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="mb-3">
            <a class="text-wh" routerLink="/terms-conditions"
              >Terms & Conditions</a
            >
          </li>
          <!-- <li class="my-3">
              <p class="text-light"><span class="fa fa-phone mr-2"></span>Enter phone</p>
            </li>
            <li>
             <p class="text-light"> <a href="mailto:info@example.com" class="text-light"><span class="fa fa-envelope-open mr-2"></span>Enter email</a>
             </p>  </li> -->
        </ul>
      </div>
      <div class="col-lg-5 w3l-footer mt-lg-0 mt-5">
        <!-- <h3 class="mb-sm-4 mb-3 text-wh">Partners</h3>
          <ul class="list-unstyled list-part text-wh pt-lg-3">
            <li><span class="fa fa-500px" aria-hidden="true"></span></li>
            <li class="mx-4"><span class="fa fa-gg" aria-hidden="true">
              <img src="../../assets/sscventures.png" style="width: 50%; height: 50%;">
            </span></li>
            <li><span class="fa fa-lastfm" aria-hidden="true"></span></li>
            <li class="mx-4"><span class="fa fa-openid" aria-hidden="true"></span></li>
            <li><span class="fa fa-angellist" aria-hidden="true"></span></li>
          </ul> -->

        <div class="n-right-w3ls">
          <h3 class="mb-sm-4 mb-3 text-wh">Need Help?</h3>
          <button
            routerLinkActive="active"
            routerLink="/request-access"
            class="submit btn font-weight-bold"
            type="submit"
          >
            Request Access
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

<!-- footer bottom -->
<!-- copyright -->
<div class="copy-w3pvt">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-7 w3ls_footer_grid1_left text-lg-left text-center">
        <p>
          &copy; 2022 ScriptChain. All rights reserved.
          <!-- | Design by
            <a href="http://w3layouts.com/">W3layouts</a> -->
        </p>
      </div>
      <div
        class="col-lg-5 w3ls_footer_grid_left1_pos text-lg-right text-center mt-lg-0 mt-2"
      >
        <!-- <ul>
            <li>
              <a href="#" class="facebook">
                <span class="fa fa-facebook-f mr-2"></span>Facebook</a>
            </li>
            <li class="mx-3">
              <a href="#" class="twitter">
                <span class="fa fa-twitter mr-2"></span>Twitter</a>
            </li>
            <li>
              <a href="#" class="google">
                <span class="fa fa-google-plus mr-2"></span>Google Plus</a>
            </li>
          </ul> -->
      </div>
    </div>
  </div>
</div>
<!-- //copyright -->
<!-- //footer bottom -->
<!-- move top icon -->
<!-- //move top icon -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-148334798-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-148334798-1");
</script>
