<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
<body>
  <div style="height:35px; padding-top: 7%;"></div>
    <h1 align="center">Your Account Has Been Deactivated</h1>
    <div class="py-5" id="verificationerror">
    <div class="container">
    <h2 align="center" >Click <a style="cursor: pointer; color:blue;" role="button" (click) = reRouteToHome()>here</a> to return to homepage.</h2>
    </div>
  </div>
  <app-footer id="footer"></app-footer>

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148334798-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-148334798-1');
      </script>
</body>

</html>
