/* DenisH */
.body {
  display: flex;
}
/* Centering controls and giving them size */
.control{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  color: #2D5059;
}
.control a img{
  text-decoration: none;
  color: #2D5059;
  width: 60px;
}
/* Styling the H1 */
.carousel-header {
  text-align: center;
  color: #2D5059;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lato Bold";
  margin-bottom: 24px;
}

/* Styling the cards */
.my-4{
  margin-top: 0;
}

.card-body {
  display: flex;
  background-color: #BCE5C6;
  min-height: 270px;
  height: max-content;
  color: #2D5059;
  justify-content: center;
  align-items: center;
}

.card-body p {
  font-size: 16px;
  font-style: "Lato";
  text-align: center;
  width: 80%;
  margin: 5px 15px;
  padding: 0;
}
.card-body-small p{
  font-size: 16px;
}
.card-text-big-paragraph{
  font-size: 12px !important;
}
.card-body p::before{
  content: url('../../assets/icons/quotation-mark.png');
  position: absolute;
  top: 40%;
  left: 15px;
  transform: scaleX(-1);
}
.card-body p::after{
  position: absolute;
  content: url('../../assets/icons/quotation-mark.png');
  bottom: 15px;
  right: 15px;
  transform: scaleY(-1);
}

.card .upper {
  align-items: center;
  margin: 0 auto;
}

.card img {
  width: 20%;
  align-self: center;
  border-radius: 50%;
  margin-top: 10px;
}

.upper h3,
 .upper h4 {
  text-align: center;
  font-size: 14px;
}
.upper h3{
  font-family: "Lato Bold";
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
 .upper h4{
  font-family: "Lato";
}
.card-text{
  font-size: 16px;
}
.active{
  width: 100%;
}

