<div class="container">
  <div class="row">
    <div class="col">
      <canvas class="border" id="lineChart"></canvas>
    </div>
    <div class="col">
      <!-- <canvas class="border" id="bar"></canvas> -->
      <h6 align="center">Prescription History</h6>
      <div class="shadow p-2 mb-2 bg-white rounded clearfix">
        <div class="row">
          <div class="col-6">Crocin</div>
          <div class="col"><i>Dr. Khan</i></div>
          <div class="col">
            <button
              type="button"
              class="btn btn-info btn-sm btn-block"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <b>Expand</b>
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample">
          Take 1 tab by mouth nightly.
        </div>
      </div>
      <div class="shadow p-2 mb-2 bg-white rounded">
        <div class="row">
          <div class="col-6">Crocin</div>
          <div class="col"><i>Dr. Khan</i></div>
          <div class="col">
            <button
              type="button"
              class="btn btn-info btn-sm btn-block"
              data-toggle="collapse"
              data-target="#collapseExample0"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <b>Expand</b>
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample0">
          Take 1 tab by mouth nightly.
        </div>
      </div>
      <div class="shadow p-2 mb-2 bg-white rounded">
        <div class="row">
          <div class="col-6">Albuterol</div>
          <div class="col"><i>Dr. Khan</i></div>
          <div class="col">
            <button
              type="button"
              class="btn btn-info btn-sm btn-block"
              data-toggle="collapse"
              data-target="#collapseExample2"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <b>Expand</b>
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample2">
          Take 1 tab by mouth nightly.
        </div>
      </div>
      <div class="shadow p-2 mb-2 bg-white rounded">
        <div class="row">
          <div class="col-6">Levothyroxine</div>
          <div class="col"><i>Dr. Khan</i></div>
          <div class="col">
            <button
              type="button"
              class="btn btn-info btn-sm btn-block"
              data-toggle="collapse"
              data-target="#collapseExample3"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <b>Expand</b>
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample3">
          Take 1 tab by mouth nightly.
        </div>
      </div>
      <button
        type="button"
        class="btn btn-warning btn-sm btn-block"
        data-target="history"
        data-toggle="modal"
      >
        <b>View More ...</b>
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <canvas class="border" id="bar2"></canvas>
    </div>
    <div class="col">
      <canvas class="border" id="bar3"></canvas>
    </div>
  </div>
</div>
