<div>
  <app-healthcare-header></app-healthcare-header>
</div>
<div class="outer-contain">
  <h1 style="text-align: center; padding-top: 48px;">Hello Dr. Noori!</h1>
  <br />
  <br />
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="basic-tab"
        data-toggle="tab"
        href="#basic"
        role="tab"
        aria-controls="basic"
        aria-selected="true"
      >
        <i class="todays-patients eight-right"></i>
        Upcoming Patients</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="advanced-tab"
        data-toggle="tab"
        href="#advanced"
        role="tab"
        aria-controls="advanced"
        aria-selected="false"
        ><i class="magnifying-glass eight-right"></i>Search</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active box"
      id="basic"
      role="tabpanel"
      aria-labelledby="basic-tab"
    >
      <div class="control-contain">
        <div class="appointment-range">
          <h3>
            <i class="calendar-range eight-right"></i>
            Check-In Range
          </h3>

          <div class="quick-selection">
            <label for="inputend">Quick Selection</label>
            <div class="controls">
              <input
                type="radio"
                id="today"
                name="preset-range"
                value="today"
                checked="true"
              />
              <label class="radio" for="today">Today</label>

              <input
                type="radio"
                id="tomorrow"
                name="preset-range"
                value="tomorrow"
              />
              <label class="radio" for="tomorrow">Tomorrow</label>

              <input type="radio" id="week" name="preset-range" value="week" />
              <label class="radio" for="week">Week</label>

              <input
                type="radio"
                id="custom"
                name="preset-range"
                value="custom"
              />
              <label class="radio" for="custom">Custom</label>
            </div>
          </div>

          <div class="date-selection">
            <div class="form-group">
              <label for="inputend">Start Date</label>
              <input
                type="date"
                placeholder="mm/dd/yyyy"
                class="form-control"
                id="inputstart"
              />
            </div>
            <div class="form-group">
              <label for="inputend">End Date</label>
              <input
                type="date"
                placeholder="mm/dd/yyyy"
                class="form-control"
                id="inputend"
              />
            </div>
          </div>
        </div>

        <div class="risk-filter">
          <h3><i class="risk eight-right"></i> Risk</h3>
          <table>
            <tr>
              <th>Type</th>
              <th>Show</th>
              <th>Severity Range</th>
              <th>Conditions/Symptoms</th>
            </tr>
            <tr>
              <td>Readmission</td>
              <td>
                <label class="switch">
                  <input type="checkbox" checked />
                  <span class="switch-slider"></span>
                </label>
              </td>
              <td class="slider-cell">
                <input
                  type="range"
                  min="1"
                  max="100"
                  value="50"
                  class="slider"
                  id="readmission-range"
                />
              </td>
              <td>
                <select name="conditions" id="conditions">
                  <option value="all conditions">All Conditions</option>
                  <option value="atrial fibrillation">
                    Atrial Fibrillation
                  </option>
                  <option value="coronary artery disease">
                    Coronrary Artery Disease
                  </option>
                  <option value="heart failure">Heart Failure</option>
                  <option value="hypertension">Hypertension</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Condition</td>
              <td>
                <label class="switch">
                  <input type="checkbox" checked />
                  <span class="switch-slider"></span>
                </label>
              </td>
              <td class="slider-cell">
                <input
                  type="range"
                  min="1"
                  max="100"
                  value="50"
                  class="slider"
                  id="condition-range"
                />
              </td>
              <td>
                <div class="risk-filter-select">
                <select name="conditions" id="conditions">
                  <option value="all conditions">All Conditions</option>
                  <option value="atrial fibrillation">
                    Atrial Fibrillation
                  </option>
                  <option value="coronary artery disease">
                    Coronrary Artery Disease
                  </option>
                  <option value="heart failure">Heart Failure</option>
                  <option value="hypertension">Hypertension</option>
                </select>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <hr />
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="advanced"
      role="tabpanel"
      aria-labelledby="advanced-tab"
    >
      <div class="control-contain">
        <div style="padding: 24px">
          <div class="control-title">
            <img style="height: 21px;" src="../../assets/smol_patient_info.svg" />
            <h3>Patient Info</h3>
          </div>

          <div class="search-input-wrap">
            <div class="form-group">
              <label for="inputend">First Name</label>
              <input
                type="First Name"
                placeholder="First Name"
                class="form-control"
                id="inputstart"
                style="width: 250px" [(ngModel)]="fName"
              />
            </div>
            <div class="form-group">
              <label for="inputend">Last Name</label>
              <input
                type="Last Name"
                placeholder="Last Name"
                class="form-control"
                id="inputstart"
                style="width: 250px" [(ngModel)]="lName"
              />
            </div>

            <div class="form-group">
              <label for="inputend">Date of Birth</label>
              <input
                type="date"
                placeholder="mm/dd/yyyy"
                class="form-control"
                id="inputend"
                style="width: 180px" [(ngModel)]="dob"
              />
            </div>
          </div>
        </div>

        <div style="padding: 24px">
          <div class="control-title">
            <img src="../../assets/appointment_range.png" />
            <h3>Check-In Range</h3>
          </div>

          <div class="quick-selection">
            <label for="inputend">Quick Selection</label>
            <form class="controls">
              <input
                type="radio"
                id="today"
                name="preset-range"
                value="today"
                checked="true"
              />
              <label class="radio" for="today">Today</label>

              <input
                type="radio"
                id="tomorrow"
                name="preset-range"
                value="tomorrow"
              />
              <label class="radio" for="tomorrow">Tomorrow</label>

              <input type="radio" id="week" name="preset-range" value="week" />
              <label class="radio" for="week">Week</label>

              <input
                type="radio"
                id="custom"
                name="preset-range"
                value="custom"
              />
              <label class="radio" for="custom">Custom</label>
            </form>
          </div>

          <div class="date-selection">
            <div class="form-group">
              <label for="inputend">Start Date</label>
              <input
                type="date"
                placeholder="mm/dd/yyyy"
                class="form-control"
                id="inputstart"
                style="width: 180px"
              />
            </div>
            <div class="form-group">
              <label for="inputend">End Date</label>
              <input
                type="date"
                placeholder="mm/dd/yyyy"
                class="form-control"
                id="inputend"
                style="width: 180px"
              />
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="button-grp">
        <div class="row">
          <div
            class="col-md-2"
            style="place-items: left; align-items: left; justify-content: left"
          >
            <label class="switch">
              <input type="checkbox" />
              <span class="switch-slider"></span>
            </label>
            <b
              style="
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #1d1f26;
                margin-bottom: 10px;
                margin-right: 10px;
              "
              >&nbsp; Advanced Search</b
            >
          </div>
          <div class="col-md-10" style="text-align: right">
            <button
              type="button" (click)="search()"
              class="btn btn-primary"
              style="
                border-radius: 8px;
                padding: 9px, 40px, 9px, 40px;
                background-color: #2d5059;
                color: white;
              "
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  <div class="new-table">
    <div class="sub-control-contain">
      <div class="sort-control">
        <img src="../../assets/appointment_range.png" />
        <span>Sort: </span>
        <span>A-Z (Last)</span>
      </div>
      <span>DOB</span>
      <span>MRN</span>
      <div class="control-dropdown">
        <span>Check-In</span>
        <img src="../../assets/downArrowGrey.png" />
      </div>
      <span>Readmission Risk</span>
      <span>Condition Risk</span>
    </div>

    <div *ngFor="let patient of newDataSource" class="patient-row">
      <div>
        <img src="../../assets/{{patient.png}}" />
        <span>{{patient.name}}</span>
      </div>
      <span>{{patient.dob}}</span>
      <span>{{patient.mrn}}</span>
      <div id="check-in">
        <span>{{patient.check_in1}}</span>
        <span>{{patient.check_in2}}</span>
      </div>
      <div id="read-risk">
        <div *ngIf="patient.readd_risk1" class="disp-bubble">
          <span>{{patient.readd_risk1}}</span>
          <span>Cardiovascular Disease</span>
        </div>
        <div *ngIf="!patient.readd_risk1" class="disp-bubble">
          <span>Dx</span>
          <span>No Admission History</span>
        </div>
      </div>
      <div id="read-risk">
        <div *ngIf="patient.cond_risk1" class="disp-bubble">
          <span>{{patient.cond_risk1}}</span>
          <span>Atrial Fibrilation</span>
        </div>
        <div *ngIf="patient.cond_risk2" class="disp-bubble">
          <span>{{patient.cond_risk2}}</span>
          <span>Heart Failure</span>
        </div>
        <div *ngIf="patient.cond_risk3" class="disp-bubble">
          <span>{{patient.cond_risk3}}</span>
          <span>Hypertension</span>
        </div>
        <div *ngIf="patient.cond_risk4" class="disp-bubble">
          <span>{{patient.cond_risk4}}</span>
          <span>Coronary Heart Disease</span>
        </div>
      </div>
      <div class="full-button">
        <span>Full Profile</span>
      </div>
    </div>
  </div>  


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="png" class="photo-name col-md-3">
      <th mat-header-cell *matHeaderCellDef> Sort:</th>
      <td mat-cell *matCellDef="let element"> 
        <img src="../../assets/{{element.png}}">
        <span class='space0'></span></td>
    </ng-container>
    <ng-container matColumnDef="sort(a-z)" class="photo-name col-md-3">
      <th mat-header-cell *matHeaderCellDef> A-Z(Last) </th>
      <td mat-cell *matCellDef="let element"> 
        <h3 style="color:#1d1f26;display: inline;">{{element.name}}</h3>
        <span class='space'></span></td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let element"> {{element.dob}} 
        <span class='space2'></span></td>
    </ng-container>
    <ng-container matColumnDef="mrn">
      <th mat-header-cell *matHeaderCellDef> MRN </th>
      <td mat-cell *matCellDef="let element"> {{element.mrn}} 
        <span class='space2'></span></td>
    </ng-container>
    <ng-container matColumnDef="check_in">
      <th mat-header-cell *matHeaderCellDef> Check-In </th>
      <td mat-cell *matCellDef="let element"> 
        <p>{{element.check_in1}}</p>
        <p>{{element.check_in2}}</p>
        <span class='space2'></span></td>
    </ng-container>
    <ng-container matColumnDef="readd_risk">
      <th mat-header-cell *matHeaderCellDef> Readmission Risk </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="flag-section">
        <ul>
          <li class="flag">
            <p class="flag-percentage">{{element.readd_risk1}}</p><p>No Admission Info</p>
          </li>
        </ul>
      </div>
        <span class='space2'></span></td>
    </ng-container>
    <ng-container matColumnDef="cond_risk">
      <th mat-header-cell *matHeaderCellDef> Condition Risk </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="flag-section">
        <ul>
          <li class="flag red"><p class="flag-percentage">{{element.cond_risk1}}</p><p>Atrial Fibrillation</p></li>
          <li class="flag yellow"><p class="flag-percentage">{{element.cond_risk2}}</p><p>Heart Failure</p></li><br>
          <li class="flag green"><p class="flag-percentage">{{element.cond_risk3}}</p><p>Hypertension</p></li>
          <li class="flag green"><p class="flag-percentage">{{element.cond_risk4}}</p><p>Coronary Heart Disease</p></li>   
        </ul> 
      </div>
        <span class='space2'></span></td>
    </ng-container>
    <ng-container matColumnDef="btn">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <button type="button" class="btn btn-secondary"(click)="openPatientProfile(1234)">
          Full Profile
        </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>

<app-healthcare-footer></app-healthcare-footer>
