<!-- Sammy - add blog page link -->
<!-- DenisH - Updated the design -->
<div id="nav" class="nav">
  <mat-toolbar>
    <!-- Mobile view contains the menu and the logo -->
    <button
      class="dropdown"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      fxShow
      fxHide.gt-md
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a style="margin-left: 15px" fxShow fxHide.gt-md routerLink="/home"
      ><img
        src="../../assets/company-logo/scriptchain-health-logo.svg"
        style="height: 64px"
    /></a>
    <mat-menu fxShow fxHide.gt-md class="matMenu" #menu="matMenu" id="matMenu">
      <!-- Dropdown of mobile view -->
      <div class="mat-menu-container">
        <div class="button-container">
          <button mat-icon-button class="dropdown-clear">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <input
          (click)="$event.stopPropagation()"
          placeholder="Search..."
          id="searchValueMobile"
          [(ngModel)]="searchValueMobile"
          type="text"
          [matAutocomplete]="search"
          (ngModelChange)="SearchValueMobile()"
        />
        <!-- Dropdown of input -->
        <mat-autocomplete #search>
          <mat-option
            *ngFor="let element of searchTerm.slice(0,5)"
            routerLink="/{{ element.route }}"
          >
            <a href="{{ element.route }}">{{ element.page }}</a>
          </mat-option>
        </mat-autocomplete>
        <!-- Buttons for navigation mobile -->
        <div (click)="$event.stopPropagation()" class="anchor-container">
          <a routerLink="/partnerships" mat-menu-item id="partnership">
            Partnerships
          </a>
          <a routerLink="/blog" mat-menu-item>Blog</a>
          <a routerLink="/whoweare" mat-menu-item>About</a>
          <a routerLink="/faq" mat-menu-item>Support</a>
          <a routerLink="/contact-us" mat-menu-item>Contact us</a>
          <a routerLink="/healthcare/login" mat-menu-item>Log In</a>
          <a routerLink="/healthcare/register" mat-menu-item>Sign Up</a>
        </div>
      </div>
      <div class="fill" (click)="$event.stopPropagation()"></div>
    </mat-menu>
    <!-- Full view starts -->
    <mat-toolbar
      class="leftHeader"
      fxHide
      fxShow.gt-md
      fxLayoutAlign="start center"
      fxFlex="100"
    >
    <!-- Contains logo and main pages -->
      <span
        ><a routerLink="/home"
          ><img
            src="../../assets/company-logo/scriptchain-health-logo-dark.svg"
            style="height: 64px" /></a
      ></span>
      <div>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <button mat-button routerLink="/partnerships">Partnership</button>
        <button routerLink="/blog" mat-button>Blog</button>
        <button routerLink="/whoweare" mat-button>About</button>
        <button routerLink="/faq" mat-button>Support</button>
        <button routerLink="/contact-us" mat-button>Contact Us</button>
      </div>
    </mat-toolbar>
    <mat-toolbar class="right">
      <!-- Contains the search engine and signup/login -->
      <div class="rightHeader" fxFlex="100" fxLayoutAlign="end center">
        <div fxHide fxShow.gt-md>
          <div>
            <button
              (click)="effect()"
              (click)="SearchValue()"
              class="search"
              [ngClass]="{ active: isActive }"
            >
            <!-- If active do search, else clear search -->
              <mat-icon *ngIf="isActive">clear</mat-icon>
              <mat-icon *ngIf="!isActive">search</mat-icon>
            </button>
            <button
              onclick="window.location.href='/healthcare/login'"
              class="login"
              mat-button
            >
              Log in
            </button>
            <button
              routerLink="/healthcare/register"
              class="signup"
              mat-flat-button
              color="primary"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </mat-toolbar>
</div>
<!-- Drop down search menu Pc view -->
<div class="dropdown-container" [ngClass]="{ wrapper: isActive }">
  <!-- Input/Cards -->
  <div class="input_cards">
    <!-- Input -->
    <input
      type="text"
      id="searchValue"
      [(ngModel)]="searchValue"
      placeholder="Search..."
      (ngModelChange)="SearchValue()"
    />
    <!-- Cards -->
    <ul class="cards">
      <!-- Loads a card per length of object -->
      <li *ngFor="let element of searchTerm.slice(0,4)">
        <a href="{{ element.route }}"
          ><img src="../../assets/icons/artificial-intelligence.png" alt="" />
          <h1>{{ element.page }}</h1>
          <h3>{{ element.description }}</h3></a
        >
      </li>
    </ul>
  </div>
</div>
