.loginHeading {
  font-family: "Tinos", serif;
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  background-color: #faf6f2;
}

html,
body {
  margin: 0px;
  padding: 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 592px;
  margin: 0 auto;
  float: none;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  background-color: white;

  align-items: flex-start;
}

a:link {
  color: black;
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 18px;
  font-size: 14px;
}

.card-container {
  justify-content: center;
  align-items: center;
}
.sectionHeading img {
  width: 20px;
  height: 18px;
  margin-left: 18px;
  margin-bottom: 5px;
}
.sectionHeading label {
  color: #575b66;
  font-family: "Lato", sans-serif;
  margin-left: 10px;
  font-size: 18px;

  position: static;

  /* Lato/18/Regular */

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
}

.form-group label {
  font-family: "Lato", sans-serif;
  margin-left: 18px;
  font-size: 14px;
  font-weight: bold;
  color: #1d1f26;
}

.form-group input {
  font-family: "Lato", sans-serif;
  margin-left: 18px;
  font-size: 12px;
  color: black;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  box-sizing: border-box;
}

.form-group select {
  font-family: "Lato", sans-serif;
  margin-left: 18px;
  font-size: 12px;
  color: black;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  box-sizing: border-box;
}

small {
  font-family: "Lato", sans-serif;
  margin-left: 18px;
}

input {
  font-size: 20px;
  height: 50px;
}

.element {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

input[type="file"] {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.btn {
  width: 195px;
  height: 42px;
  color: #5c8a96;
  border: 2px solid #5c8a96;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.helpBtn {
  width: 118px;
  height: 40px;
  color: #5c8a96;
  border: 2px solid #5c8a96;
  background-color: white;
  margin-left: 18px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #5c8a96;
  border-radius: 8px;
}

.signUpBtn {
  width: 145px;
  height: 40px;
  color: white;
  background-color: #5c8a96;
  border: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-right: 18px;
  border-radius: 7px;
}

.agreeBtn {
  width: 145px;
  height: 40px;
  /* color: white;
  background-color: #5c8a96; */
  border: none;
  margin-left: 225px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 7px;
}
/* BharatChadalawada:Removed background colour */
.disagreeBtn {
  width: 145px;
  height: 40px;
  color: #5c8a96;
  border: 2px solid #5c8a96;;
  /* background-color: white; */
  margin-left: 225px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid #5c8a96;
  border-radius: 8px;
}
/* BharatChadalawada:added clas for terms and conditions backgriund colour fill */
.btnFill{ 
  color: white;
  background-color: #5c8a96;
}

hr {
  left: 0%;
  right: 0%;
  margin-top: 0px;
  margin-bottom: 12px;
  /* Grey 200 */
  border: 2px solid #e1e4eb;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #1d1f26;
  margin: 8px 0px;
  margin-top: 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #f5f6fa;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
  margin-top: 0px;
  border: 2px solid #f5f6fa;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.hr-sect2 {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #1d1f26;
  margin: 8px 0px;
  margin: 15px 100px 20px 100px;
}
.hr-sect2::before,
.hr-sect2::after {
  content: "";
  flex-grow: 1;
  background: #f5f6fa;
  height: 1px;
  font-size: 0px;
  margin-top: 0px;
  border: 2px solid #f5f6fa;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.btn img {
  margin-bottom: 4px;
}

.password {
  top: 80px;
  right: 80px;
  cursor: pointer;
}
.password1 {
  top: 35px;
  right: 83px;
  cursor: pointer;
}

.text-danger{
  font-size: 12px;
}


@media screen and (max-width: 550px) {
  .card {
    width: 100% !important;
  }
}