
<div class="body">

    <!-- healthcare account confirmation -->

    <div>
      <h3 class="heading">You're almost done registering.</h3>
    </div>
    <div class="card">
      <div class="card-container">
        <div class="logoHeader">
          <img src="./assets/logo6.png" style="width: auto; height: 64px" />
        </div>
        <div class="content">
          <div style="color: #1d1f26">Hi Firstname,</div>

          <div style="margin-top: 10px; color: #1d1f26">
            Thank you for joining ScriptChain. You may now log in with your
            credentials.
          </div>
        </div>
        <div class="center">
          <button
            type="button"
            class="verifyBtn"
            style="
              width: 416px;
              height: 40px;
              margin-top: 24px;
              margin-bottom: 24px;
            "
          >
            Login
          </button>
        </div>
        <div class="content" style="margin-top: 10px; color: #1d1f26">
          If you have any questions or concerns, feel free to reach out to

          <strong style="color: black; text-decoration: underline">
            <a href="mailto:customer-care@scriptchain.co"
              >customer-care@scriptchain.co</a
            >
          </strong>
        </div>
        <hr />
        <div class="content" style="margin-top: 10px; color: #1d1f26">
          This message was sent from ScriptChain LLC.,Boston, MA
        </div>
      </div>
    </div>
</div>
