<!--  Authors and their contributions:
-->
<!-- contributions -->
<!-- Sammy: Updated description for paragraph in card-container
  Vince: fixed grammarical errors in text body of "Why ScriptChain"
  DenisH: Design Update/Clear the code/
  Testing new branch from a hash
  Daniel - removed mat-menu-item from Sign Up Here button - made it stick to the left on mobile view
         - updated About Us text
  Siheng - Remove the unnecessary html&head&body tags
-->

<!-- Landing page header -->
<app-landing-page-header></app-landing-page-header>
<!-- Welcoming message/Text+Image -->
<app-landing-page-welcome-message></app-landing-page-welcome-message>
<!--Content Data -->
<!-- Content Data Full view (Left/Right)-->
<div class="contentData">
  <div fxHide fxShow.gt-sm>
    <mat-grid-list class="mat-grid-list-data" cols="3" rowHeight="10:1">
      <!-- Denis - Each mat grid represents a table cell, of a table with 3 colomns -->
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="numeric">700,000</mat-grid-tile>
      <mat-grid-tile class="numeric">30.3 M</mat-grid-tile>
      <mat-grid-tile class="numeric">$351 B</mat-grid-tile>
      <mat-grid-tile class="data"
        >Total Death Could Have Been Prevented</mat-grid-tile
      >
      <mat-grid-tile class="data"
        >Total CVD Cases Could Have Been Prevented</mat-grid-tile
      >
      <mat-grid-tile class="data">Total Medical Cost Savings</mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="study"
        >**Stats from Healthline 2020 study**</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- Denis -  Content Data Mobile view (Up/Down)-->
  <div fxShow fxHide.gt-sm>
    <mat-grid-list class="mat-grid-list-data" cols="1" rowHeight="25:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="numericsmall">700,000</mat-grid-tile>
      <mat-grid-tile class="datasmall"
        >Total Death Could Have Been Prevented</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="numericsmall">30.3 M</mat-grid-tile>
      <mat-grid-tile class="datasmall"
        >Total CVD Cases Could Have Been Prevented</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="numericsmall">$351 B</mat-grid-tile>
      <mat-grid-tile class="datasmall"
        >Total Medical Cost Savings</mat-grid-tile
      >
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile class="studysmall"
        >**Stats from Healthline 2020 study**</mat-grid-tile
      >

      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<!-- Content Data ends-->
<!-- Denis - About Us-->
<!-- About Us Full view -->
<div class="about-us" fxHide fxShow.gt-sm>
  <h1>About Us</h1>
  <h3>
    A B2B SaaS digital health company where we have built an AI Prediction
    Platform for Heart Disease and Readmission to lower the cost of care for
    Heart Disease and reduce Readmission Rates.
  </h3>
</div>
<!-- About Us Mobile view -->
<div class="about-us" fxShow fxHide.gt-sm>
  <h2>About Us</h2>
  <h5>
    A B2B SaaS digital health company where we have built an AI Prediction
    Platform for Heart Disease and Readmission to lower the cost of care for
    Heart Disease and reduce Readmission Rates.
  </h5>
</div>
<!-- Denis - About Us ends-->
<!-- Denis - Card Componnet/Video -->
<app-landing-page-information></app-landing-page-information>
<!-- Denis - Card Componnet/Video end-->
<!-- Contact Us -->
<!-- Contact Us Full View -->
<div class="holder">
  <div fxHide fxShow.gt-sm fxLayout="row" class="flex100">
    <div class="flex50">
      <div class="left-contact-us">
        <h1 class="contact-us">Contact us</h1>
        <p>Give us some information so the right person can get back to you.</p>
        <button routerLink="/becomeapartner" class="partner">
          Become A Partner
        </button>
        <br />
        <button class="sign" routerLink="/healthcare/register">
          Sign Up Here
        </button>
      </div>
    </div>

    <div class="flex50">
      <!-- Contact us form -->
      <div class="right-contact-us">
        <form [formGroup]="exform" class="form">
          <div class="form-group">
            <input
              formControlName="name"
              type="text"
              class="form-control"
              placeholder="Full Name"
            />
            <small *ngIf="name.invalid && name.touched" class="text-danger"
              >Name is Required</small
            >
          </div>
          <div class="form-group">
            <input
              formControlName="email"
              type="text"
              class="form-control"
              placeholder="Your Email"
            />
            <small *ngIf="email.invalid && email.touched" class="text-danger"
              >Email is invalid!</small
            >
          </div>
          <div class="form-group">
            <input
              formControlName="subject"
              type="text"
              class="form-control"
              placeholder="Subject"
            />
          </div>
          <div class="form-group">
            <textarea
              formControlName="message"
              class="form-control message"
              placeholder="Type a message"
            ></textarea>
            <small
              *ngIf="message.invalid && message.touched"
              class="text-danger"
            >
              Message is Required(minimum length 10)</small
            >
          </div>
          <button
            (click)="clicksub()"
            [disabled]="exform.invalid"
            type="button"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- ---------------------------- -->
  <!-- Contact Us Mobile View -->
  <div fxShow fxHide.gt-sm fxLayout="column">
    <div class="top-contact-us">
      <h1 class="contact-us">Contact us</h1>
      <p>Give us some information so the right person can get back to you.</p>
      <button routerLink="/becomeapartner" class="partner">
        Become A Partner
      </button>
      <br />
      <button class="sign" routerLink="/healthcare/register">
        Sign Up Here
      </button>
    </div>

    <div class="right-contact-us bottom-contact-us">
      <!-- contact us form for mobile view -->
      <form [formGroup]="exform" class="form">
        <div class="form-group">
          <input
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Full Name"
          />
          <small *ngIf="name.invalid && name.touched" class="text-danger"
            >Name is Required</small
          >
        </div>
        <div class="form-group">
          <input
            formControlName="email"
            type="text"
            class="form-control"
            placeholder="Your Email"
          />
          <small *ngIf="email.invalid && email.touched" class="text-danger"
            >Email is Required</small
          >
        </div>
        <div class="form-group">
          <input
            formControlName="subject"
            type="text"
            class="form-control"
            placeholder="Subject"
          />
        </div>
        <div class="form-group">
          <textarea
            formControlName="message"
            class="form-control message"
            placeholder="Type a message"
          ></textarea>
          <small *ngIf="message.invalid && message.touched" class="text-danger">
            Message is Required(minimum length 10)</small
          >
        </div>
        <button
          (click)="clicksub()"
          [disabled]="exform.invalid"
          type="button"
          class="btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Contact Us ends -->
<!-- Read Cases -->
<div class="read-case-container">
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="4">
      <h1>Readmission & Heart Disease Prevention</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <!-- &#x2192 represents an arrow to be displayed -->
      <button
        onclick=" window.open('https://www.mayoclinicproceedings.org/article/S0025-6196(20)30138-5/fulltext','_blank')"
      >
        Read Case Studies &#x2192;
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Read Cases -->
<!-- Carousel -->
<app-landing-page-carousel></app-landing-page-carousel>
<!-- Carousel ends -->

<!--Content4-->

<footer>
  <app-landing-page-subfooter></app-landing-page-subfooter>
</footer>

<!-- Codes below are commented by Siheng Wei cause they are refactored as above -->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!~~ Hotjar Tracking Code for https://www.scriptchain.co/home ~~>
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body>
    <!~~ Landing page header ~~>
    <app-landing-page-header></app-landing-page-header>
    <!~~ Welcoming message/Text+Image ~~>
    <app-landing-page-welcome-message></app-landing-page-welcome-message>
    <!~~Content Data ~~>
    <!~~ Content Data Full view (Left/Right)~~>
    <div class="contentData">
      <div fxHide fxShow.gt-sm>
        <mat-grid-list class="mat-grid-list-data" cols="3" rowHeight="10:1">
          <!~~ Denis - Each mat grid represents a table cell, of a table with 3 colomns ~~>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="numeric">700,000</mat-grid-tile>
          <mat-grid-tile class="numeric">30.3 M</mat-grid-tile>
          <mat-grid-tile class="numeric">$351 B</mat-grid-tile>
          <mat-grid-tile class="data"
            >Total Death Could Have Been Prevented</mat-grid-tile
          >
          <mat-grid-tile class="data"
            >Total CVD Cases Could Have Been Prevented</mat-grid-tile
          >
          <mat-grid-tile class="data">Total Medical Cost Savings</mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="study"
            >**Stats from Healthline 2020 study**</mat-grid-tile
          >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
      </div>
      <!~~ Denis -  Content Data Mobile view (Up/Down)~~>
      <div fxShow fxHide.gt-sm>
        <mat-grid-list class="mat-grid-list-data" cols="1" rowHeight="25:1">
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="numericsmall">700,000</mat-grid-tile>
          <mat-grid-tile class="datasmall"
            >Total Death Could Have Been Prevented</mat-grid-tile
          >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="numericsmall">30.3 M</mat-grid-tile>
          <mat-grid-tile class="datasmall"
            >Total CVD Cases Could Have Been Prevented</mat-grid-tile
          >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="numericsmall">$351 B</mat-grid-tile>
          <mat-grid-tile class="datasmall"
            >Total Medical Cost Savings</mat-grid-tile
          >
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile class="studysmall"
            >**Stats from Healthline 2020 study**</mat-grid-tile
          >

          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <!~~ Content Data ends~~>
    <!~~ Denis - About Us~~>
    <!~~ About Us Full view ~~>
    <div class="about-us" fxHide fxShow.gt-sm>
      <h1>About Us</h1>
      <h3>
        A B2B SaaS digital health company where we have built an AI Prediction Platform for Heart Disease 
        and Readmission to lower the cost of care for Heart Disease and reduce Readmission Rates.
      </h3>
    </div>
    <!~~ About Us Mobile view ~~>
    <div class="about-us" fxShow fxHide.gt-sm>
      <h2>About Us</h2>
      <h5>
        A B2B SaaS digital health company where we have built an AI Prediction Platform for Heart Disease 
        and Readmission to lower the cost of care for Heart Disease and reduce Readmission Rates.
      </h5>
    </div>
    <!~~ Denis - About Us ends~~>
    <!~~ Denis - Card Componnet/Video ~~>
    <app-landing-page-information ></app-landing-page-information>
    <!~~ Denis - Card Componnet/Video end~~>
    <!~~ Contact Us ~~>
    <!~~ Contact Us Full View ~~>
    <div class="holder">
      <div fxHide fxShow.gt-sm fxLayout="row" class="flex100">
        <div class="flex50">
          <div class="left-contact-us">
            <h1 class="contact-us">Contact us</h1>
            <p>
              Give us some information so the right person can get back to you.
            </p>
            <button routerLink="/becomeapartner" class="partner">
              Become A Partner
            </button>
            <br />
            <button 
            class="sign"
            routerLink="/healthcare/register">
            Sign Up Here
          </button>
          </div>
        </div>

        <div class="flex50">
          <!~~ Contact us form ~~>
          <div class="right-contact-us">
            <form [formGroup]="exform" class="form">
              <div class="form-group">
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                />
                <small *ngIf="name.invalid && name.touched" class="text-danger"
                  >Name is Required</small
                >
              </div>
              <div class="form-group">
                <input
                  formControlName="email"
                  type="text"
                  class="form-control"
                  placeholder="Your Email"
                />
                <small
                  *ngIf="email.invalid && email.touched"
                  class="text-danger"
                  >Email is invalid!</small
                >
              </div>
              <div class="form-group">
                <input
                  formControlName="subject"
                  type="text"
                  class="form-control"
                  placeholder="Subject"
                />
              </div>
              <div class="form-group">
                <textarea
                  formControlName="message"
                  class="form-control message"
                  placeholder="Type a message"
                ></textarea>
                <small
                  *ngIf="message.invalid && message.touched"
                  class="text-danger"
                >
                  Message is Required(minimum length 10)</small
                >
              </div>
              <button
                (click)="clicksub()"
                [disabled]="exform.invalid"
                type="button"
                class="btn btn-primary"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
      <!~~ ---------------------------- ~~>
      <!~~ Contact Us Mobile View ~~>
      <div fxShow fxHide.gt-sm fxLayout="column">
        <div class=" top-contact-us">
          <h1 class="contact-us">Contact us</h1>
          <p>
            Give us some information so the right person can get back to you.
          </p>
          <button routerLink="/becomeapartner" class="partner">
            Become A Partner
          </button>
          <br />
           <button 
            class="sign"
            routerLink="/healthcare/register">
            Sign Up Here
          </button>
        </div>

        <div class="right-contact-us bottom-contact-us">
          <!~~ contact us form for mobile view ~~>
          <form [formGroup]="exform" class="form">
            <div class="form-group">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                placeholder="Full Name"
              />
              <small *ngIf="name.invalid && name.touched" class="text-danger"
                >Name is Required</small
              >
            </div>
            <div class="form-group">
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Your Email"
              />
              <small *ngIf="email.invalid && email.touched" class="text-danger"
                >Email is Required</small
              >
            </div>
            <div class="form-group">
              <input
                formControlName="subject"
                type="text"
                class="form-control"
                placeholder="Subject"
              />
            </div>
            <div class="form-group">
              <textarea
                formControlName="message"
                class="form-control message"
                placeholder="Type a message"
              ></textarea>
              <small
                *ngIf="message.invalid && message.touched"
                class="text-danger"
              >
                Message is Required(minimum length 10)</small
              >
            </div>
            <button
              (click)="clicksub()"
              [disabled]="exform.invalid"
              type="button"
              class="btn btn-primary"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

    <!~~ Contact Us ends ~~>
    <!~~ Read Cases ~~>
    <div class="read-case-container">
      <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="4">
          <h1>Readmission & Heart Disease Prevention </h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <!~~ &#x2192 represents an arrow to be displayed ~~>
          <button onclick=" window.open('https://www.mayoclinicproceedings.org/article/S0025-6196(20)30138-5/fulltext','_blank')">Read Case Studies &#x2192;</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!~~ Read Cases ~~>
    <!~~ Carousel ~~>
    <app-landing-page-carousel></app-landing-page-carousel>
    <!~~ Carousel ends ~~>

    <!~~Content4~~>

    <footer>
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html> -->
