<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements" style="padding: 0.9%">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
  </div>
  <h3 class="loginHeading">Reza Saatchi</h3>
  <div>
    <div class="grid-elements" style="padding: 5%; padding-bottom: 40%">
      <div class="row">
        <div class="col">
          <img src="./assets/Doctor.png" />
        </div>
        <div class="col">
          <img src="./assets/riskAnalysis.png" />
        </div>
      </div>
      <!---Row 1 ends here-->
      <div class="row">
        <div class="col">
          <img src="./assets/prescriptions.png" />
        </div>
        <div class="col">
          <img src="./assets/conditions.png" />
        </div>
      </div>
      <!--Row 2 ends here-->
      <div class="row">
        <div class="col">
          <img src="./assets/labResults.png" />
        </div>
        <div class="col">
          <img src="./assets/procedures.png" />
        </div>
      </div>
      <!--Row 3 ends here-->
    </div>
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
