<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <title>Partnership Email</title>
  </head>

  <body>
    <div class="row" style="background-color: #2d5059">
      <div class="col-xs-12">
        <nav class="navbar bg-light navbar-light">
          <a href="https://scriptchain.co/home">
            <img
              src="https://drive.google.com/uc?export=view&id=1fDhOzJKsvaWCmweiEPVuTqdK2C7y-u0z"
              alt=""
              width="157"
              height="94"
            />
          </a>
        </nav>
      </div>
    </div>
    <div class="row" style="background-color: #2d5059">
      <img
        src="https://drive.google.com/uc?export=view&id=1XeXlErfB73gdO26H9poABzHeeOkA7Iv0"
        alt=""
        width="67"
        height="67"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        "
      />
      <p
        style="
          text-align: center;
          font-size: 24px;
          font-family: 'Lato', sans-serif;
          color: #b2dfdb;
          padding-top: 20px;
        "
      >
        Partnerships are Awesome!
      </p>
      <p
      class="text-center mx-sm-5 mx-md-3"
        style="font-size: 18px; font-family: 'Lato', sans-serif; color: #b2dfdb; text-align: center; padding-top: 50px; padding-bottom: 50px; margin-left: 15px; margin-right: 15px;"
      >
      Thank you so much for reaching out to the ScriptChain Team
      about access to the platform. As we get closer to launch,
      someone will be in touch to discuss a possible partnership.
      </p>

      </div>
    </div>
    <div class="row pt-5" style="background-color: #2d5059">
        <div class="col-xs-12">
            <div class="my-5 text-center" style="background-color: black;">
                <p style="color: #b2dfdb;">For questions or problems, please contact customer-care@scriptchain.co</p>
                <p style="color: #b2dfdb;">This message was sent from ScriptChain, LLC., Boston, MA.</p>
            </div>
        </div>
    </div>
  </body>
</html>
