{{!--
Siheng:
1. Refactored the code to make it compatabile with all email clients
2. Updated the font-size, font-color, background-color etc strictly based on the user story
3. Make the button clickable
--}}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Confirmation Email</title>
  <style type="text/css">
    table {
      border-spacing: 0;
      table-layout: fixed;
      width: 100%;
    }

    .header,
    .content,
    .btnClick {
      background: #2D5059;
    }

    .header img {
      width: 157px;
      height: 94px;
      padding-left: 2%;
    }

    .content,
    .footer {
      font-family: 'Lato', sans-serif;
      color: #E6EFF1;
      text-align: center;
    }

    .content img {
      width: 67px;
      height: 67px;
    }

    .content h1 {
      font-size: 24px;
    }

    .content p {
      font-size: 18px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .footer {
      background: #0D1A1E;
      font-size: 10px;
    }

    a {
      text-decoration: underline !important;
      color: #E6EFF1 !important;
    }

    button {
      width: 260px;
      height: 60px;
      background-color: #E6EFF1;
      border: none;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      cursor: pointer;
      border-radius: 8px;
    }

    button a {
      text-decoration: none !important;
      color: #0D1A1E !important;
    }

    .btnClick {
      text-align: center;
      padding-bottom: 50px;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <td class="header">
        <img src="https://i.ibb.co/JzF4jtD/Screenshot-2022-07-22-033111.png" alt="">
      </td>
    </tr>
    <tr>
      <td class="content">
        <img src="https://i.ibb.co/NstJy0c/verification.png" alt="">
        <h1>Welcome to ScriptChain!</h1>
        <p>Thank you for registering. <br />
          We are excited you have decided to start your ScriptChain journey. <br />
          There is just one last step to make it offical. <br />
          Please click the button below to verify your email address. </p>
      </td>
    </tr>
    <tr>
      <td class="btnClick">
        <button>
          <a href="{{verifyUrl}}?verifytoken={{token}}">Verify Your Email Address</a>
        </button>
      </td>
    </tr>
    <tr>
      <td class="footer">
        <p>For questions or problems, please contact <a
            href="mailto:customer-care@scriptchain.co">customer-care@scriptchain.co</a> <br>
          This message was sent from ScriptChain LLC, San Francisco, CA.</p>
      </td>
    </tr>
  </table>
</body>

</html>

{{!-- Codes below are commented by Siheng cause it can only work normally on Chrome but not all email clients --}}
{{!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <title>Verification Email</title>
</head>

<body>
  <div class="row" style="background-color: #2d5059">
    <div class="col-xs-12">
      <nav class="navbar bg-light navbar-light">
        <a href="https://scriptchain.co/home">
          <img src="https://drive.google.com/uc?export=view&id=1fDhOzJKsvaWCmweiEPVuTqdK2C7y-u0z" alt="" width="157"
            style="max-width: 100%; height: auto;" />
        </a>
      </nav>
    </div>
  </div>
  <div class="row" style="background-color: #2d5059">
    <img src="https://drive.google.com/uc?export=view&id=1bd2yInDaEkdDQOt8mqjtQf734A58kNeu" alt="" width="67"
      height="45" style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        " />
    <p style="
          text-align: center;
          font-size: 24px;
          font-family: 'Lato', sans-serif;
          color: #b2dfdb;
          padding-top: 20px;
        ">
      Welcome to ScriptChain!
    </p>
    <p class="text-center my-5 mx-5 text-wrap"
      style="font-size: 18px; font-family: 'Lato', sans-serif; color: #b2dfdb; text-align: center; margin-left: 7px; margin-right: 7px;">
      Thank you for registering. We are excited you have decided to
      start your ScriptChain journey. There is just one last step to make
      it offical. Please click the button below to verify your email
      address.
    </p>

    <div class="text-center" style="padding-top: 50px; padding-bottom: 150px;">
      <button type="submit" style="
                width: 260px;
                height: 60px;
                color: #009688;
                background-color: #b2dfdb;
                font-size: 18px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                border-radius: 8px;
            ">
        Verify Your Email Address
      </button>
    </div>
  </div>
  <div class="row pt-5" style="background-color: #2d5059">
    <div class="col-xs-12">
      <div class="my-5 text-center" style="background-color: black;">
        <p style="color: #b2dfdb;">For questions or problems, please contact customer-care@scriptchain.co</p>
        <p style="color: #b2dfdb;">This message was sent from ScriptChain, LLC., Boston, MA.</p>
      </div>
    </div>
  </div>
</body>

</html> --}}
