.inline-elements label {
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  color: #575b66;
  font-style: normal;
  font-size: 14px;
  margin-top: calc(50% - 17px / 2);
  line-height: 17px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.inline-elements {
  padding: 0.7%;
}
.loginHeading {
  font-family: "Tinos", serif;
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.images {
  margin-left: 0.7%;
  margin-bottom: 80%;
}

ul#indicators {
  list-style: none;
}
ul#indicators li {
  float: left;
  display: block;
  margin-right: 10%;
  font-size: 14px;
}

.progress-bar-success {
  background: #429855;
}

.progress-bar-danger {
  background: #c13932;
}

.progress-bar-warning {
  background: #deae33;
}

.progress {
  width: 80%;
  height: 24px;
  border-radius: 8px;
}

#text{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1D1F26;
}

.btn-success{
  background-color: #2e733d;
}

.btn{
  border-radius: 8px;
}

.btn-warning{
  background-color:#deaf33;
}

#readrisk{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
