<app-healthcare-header></app-healthcare-header>

<div class="sub-bar-contain">
  <div class="sub-nav-contain">
    <a routerLink="/healthcare-profile" class="sub-nav">
      <img src="../../assets/homeIcon.png" />
      <span>Home</span>
    </a>
    <img src="../../assets/view.png" />
    <a [routerLink]="'/healthcare-profile/patient/' + patientInfo.id" class="sub-nav">
      <img src="../../assets/UserIcon.png" />
      <span>{{patientInfo.name}}</span>
    </a>
    <img src="../../assets/view.png" />
    <a [routerLink]="'/healthcare-profile/patient/' + patientInfo.id + '/1234'" class="sub-nav">
      <img src="../../assets/Readmission_Risk_Icon_Grey.svg" />
      <span>Condition Risk: {{condition.name}}</span>
    </a>
  </div>

  <div (click)="printPage()" class="print-contain">
    <img src="../../assets/printIconGray.png" />
    <span>Print</span>
  </div>
</div>

<div class="container full-contain">

  <div class="container">
    <div class="card-contain">

      <div id="card-left">

        <div id="readmission" class="display-card">
          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="icon" src="../../assets/Condition_Risk.svg" />
                <h4>
                  Condition Risk: {{condition.name}}
                </h4>
              </div>
              <div>
                <img src="../../assets/i_Con.png" />
                <img src="../../assets/grid.png" />
              </div>
            </div>
            <p style="font-style: italic; font-size: 14px; color: #575b66; margin: 0 0 12px 12px;">FDA Approval would go
              here</p>
          </div>
          <app-portal-progress-bar name='Risk of Developing Hypertension' [value]="condition.value" show="all">
          </app-portal-progress-bar>
          <div id="indicators">
            <div class="sub-inds">
              <div id="safe">
                <div class="bubble"></div>
                Low (~40%)
              </div>
              <div id="med">
                <div class="bubble"></div>
                Moderate (40-75%)
              </div>
              <div id="serious">
                <div class="bubble"></div>
                High (>75%)
              </div>
            </div>
          </div>
        </div>

        <div id="symptoms" class="display-card">
          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="icon" src="../../assets/patient.png" />
                <h4>
                  Patient Info
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>
          </div>
          <div class="table area">

            <div style="padding-bottom: 2%;border-bottom: 2px solid #E1E4EB;">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/patientview.png" style="width: 16px;" />
                </div>
                <span>Physical</span>
              </div>
              <div class="pat-details">
                <p class="bold_p"><span class="bold">Sex:</span><span>{{patientInfo.sex}}</span></p>
                <p class="bold_p"><span class="bold">Age:</span><span>{{patientInfo.age}}</span></p>
                <p class="bold_p"><span class="bold">Weight:</span><span>{{patientInfo.weight}} lbs</span></p>
                <!-- <p class="bold_p"><span class="bold">Height:</span><span>{{feet}}' {{inches}}"</span></p> -->
                <p class="bold_p">
                  <span class="bold">BMI:</span>
                  <span style="color:#8C2C27;font-weight: bold;">{{patientInfo.bmi}}</span>
                  <button class="btn btn-sm high1"
                    style="margin-left: 1%!important;padding-top: 0%;padding-bottom: 0%;background-color: #8C2C27;">
                    Overweight
                  </button>
                </p>
              </div>
            </div>
            <div style="margin-bottom: 2%;border-bottom: 2px solid #E1E4EB;">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/Readmission_Risk_Icon_Red.svg" />
                </div>
                <span style="color: #cc0000;">Readmission Risk</span>
              </div>
              <ul *ngFor="let risk of patientInfo.readmissionRisks" style="margin-left: 16px; padding-left: 0;">
                <li style="list-style: none;">
                  <span style="font-weight: bold;">{{risk.name}}:&nbsp;</span>
                  <span>{{risk.symptoms}}</span>
                </li>
              </ul>
              <ul *ngIf="patientInfo.readmissionRisks.length === 0" style="margin-left: 16px; padding-left: 0;">
                <li style="list-style: none; font-weight: bold;">Patient has no known readmission risks</li>
              </ul>
            </div>
            <div style="margin-bottom: 2%;border-bottom: 2px solid #E1E4EB;">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/alertBubbleIconGray_.png" style="width: 20px;" />
                </div>
                <span>Allergies</span>
              </div>
              <ul *ngFor="let allergy of patientInfo.allergies">
                <li>{{allergy.name}}</li>
              </ul>
              <ul *ngIf="patientInfo.allergies.length === 0" style="margin-left: 16px; padding-left: 0;">
                <li style="list-style: none; font-weight: bold;">Patient has no known allergies</li>
              </ul>
            </div>
            <div style="margin-bottom: 2%;border-bottom: 2px solid #E1E4EB;">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/lifestyleIconGrey.png" />
                </div>
                <span>Lifestyle</span>
              </div>
              <p style="margin-left: 16px; margin-left: 16px;">
                <span class="bold">Smokes:</span>
                <span style="color:#8C2C27;font-weight: bold;">&nbsp;Algorithm detects a history of smoking</span>
              </p>
            </div>
            <div style="margin-bottom: 2%;">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/px.png" style="width: 13px;" />
                </div>
                <span>Prescribed Medications</span>
              </div>
              <table style="width: 100%; padding: 2%">
                <colgroup>
                  <col span="1" style="width: 36%">
                  <col span="1" style="width: 16%">
                  <col span="1" style="width: 28%">
                  <col span="1" style="width: 20%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Medication</th>
                    <th>Dosage</th>
                    <th>Date Prescribed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medication of patientInfo.prescribedMedications">
                    <td>{{medication.name}}</td>
                    <td>{{medication.dosage}}</td>
                    <td>{{medication.date_prescribed}}</td>
                    <td>
                      <a routerLink="/">
                        <span>View More</span>
                        <img src="../../assets/link.png" />
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="chart" class="display-card">
          <div class="display-card" id="chartContainer">
            <div class="card-head">
              <div>
                <img class="icon" src="../../assets/Vitals_Icon.svg" />
                <h4>
                  Vitals
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>

            <div *ngIf="vital && startdate && enddate" class="chart-contain">
              <highcharts-chart *ngIf="vital == 'weight'" [Highcharts]="weight_highcharts"
                [options]="weight_chartOptions" style="width: 100%; height: 400px; display: block;">
              </highcharts-chart>
              <highcharts-chart *ngIf="vital == 'height'" [Highcharts]="highcharts" [options]="chartOptions"
                style="width: 100%; height: 400px; display: block;">
              </highcharts-chart>
              <highcharts-chart *ngIf="vital == 'diastolic'" [Highcharts]="diastolic_highcharts"
                [options]="diastolic_chartOptions" style="width: 100%; height: 400px; display: block;">
              </highcharts-chart>
              <highcharts-chart *ngIf="vital == 'systolic'" [Highcharts]="systolic_highcharts"
                [options]="systolic_chartOptions" style="width: 100%; height: 400px; display: block;">
              </highcharts-chart>
              <!-- <img src="../../assets/chart_placeholder.png" style="width: 100%;" /> -->
            </div>
            <div class="graph-controls">
              <div>
                <span>Vital Type</span>
                <select [(ngModel)]="vital" required>
                  <option value="" selected>Select your option</option>
                  <option value="weight">Weight</option>
                  <option value="height">Height</option>
                  <option value="diastolic">Diastolic Blood Pressure</option>
                  <option value="systolic">Systolic Blood Pressure</option>
                </select>
              </div>
              <div>
                <span>Start Date</span>
                <input type="date" [(ngModel)]="startdate" (change)="dateValidate()">
              </div>
              <div>
                <span>End Date</span>
                <input type="date" [(ngModel)]="enddate" (change)="dateValidate()">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="card-right">

        <div id="recommended" class="display-card">

          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="icon" src="../../assets/recommended.png" />
                <h4>
                  Recommended Medication Classes
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>
            <p style="font-style: italic; font-size: 14px; color: #575b66; margin: 0 0 12px 12px;">FDA Approval would go
              here</p>
          </div>
          <div>
            <div class="med-wrap">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/notPrescribedGrey.png" style="width: 24px; height: 27px;" />
                </div>
                <span>Not Prescribed</span>
              </div>
              <div class="med-box">
                <div *ngFor="let medication of recommendedMedications.not_prescribed" class="med-bubble">
                  <span>{{medication.class}}</span>
                  <span>{{medication.meds}}</span>
                </div>
              </div>
            </div>

            <div class="med-wrap">
              <div class="card-sub-tit">
                <div class="pat-icon-wrap">
                  <img class="sub-icon" src="../../assets/alertBubbleIconGray_.png"
                    style="width: 24px; height: 21px;" />
                </div>
                <span>Patient is Allergic</span>
              </div>
              <div class="med-box">
                <div *ngFor="let medication of recommendedMedications.allergic" class="med-bubble">
                  <span>{{medication.class}}</span>
                  <span>{{medication.meds}}</span>
                </div>
                <div *ngIf="recommendedMedications.allergic.length === 0" class="med-bubble"
                  style="background-color: #eef2ff;">
                  <span style="color: #27365e; border: none;">None</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="diagnosed" class="display-card">
          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="icon" src="../../assets/Diagnosed_Condition_Icon.svg" />
                <h4>
                  Diagnosed Conditions
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>
          </div>
          <div class="table area">
            <table style="width: 100%; padding: 2%">
              <colgroup>
                <col span="1" style="width: 36%">
                <col span="1" style="width: 20%">
                <col span="1" style="width: 24%">
                <col span="1" style="width: 20%">
              </colgroup>
              <thead>
                <tr>
                  <th>Condition</th>
                  <th>Date</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let condition of diagnosedConditions">
                  <td>{{condition.name}}</td>
                  <td>{{condition.date}}</td>
                  <td>{{condition.details}}</td>
                  <td>
                    <a routerLink="/">
                      <span>View More</span>
                      <img src="../../assets/link.png" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="abnormal" class="display-card">
          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="sub-icon" src="../../assets/abnormalLabsIcon_.png" style="height: 28px; width: 26px;" />
                <h4>
                  Abnormal Labs
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>
          </div>
          <div class="table area">
            <table style="width: 100%; padding: 2%">
              <colgroup>
                <col span="1" style="width: 36%">
                <col span="1" style="width: 44%">
                <col span="1" style="width: 20%">
              </colgroup>
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lab of abnormalLabs">
                  <td>{{lab.test}}:</td>
                  <td>
                    <span *ngIf="lab.status == 'high'" style="color: #8C2C27;">{{lab.result}}</span>
                    <span *ngIf="lab.status == 'mod'" style="color: #deae33;">{{lab.result}}</span>
                    <span *ngIf="lab.status == 'low'" style="color: #429855;">{{lab.result}}</span>
                    <span *ngIf="lab.status == 'high'" style="background-color: #8C2C27;">H</span>
                    <span *ngIf="lab.status == 'mod'" style="background-color: #deae33;">M</span>
                    <span *ngIf="lab.status == 'low'" style="background-color: #429855;">L</span>
                  </td>
                  <td>
                    <a routerLink="/">
                      <span>View More</span>
                      <img src="../../assets/link.png" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="prior" class="display-card">
          <div class="card-head-wrap">
            <div class="card-head">
              <div>
                <img class="sub-icon" src="../../assets/admissionIcon.png" style="height: 28px; width: 30px;" />
                <h4>
                  Prior Procedures
                </h4>
              </div>
              <div>
                <img src="../../assets/grid.png" />
              </div>
            </div>
          </div>
          <div class="table area">
            <table style="width: 100%; padding: 2%">
              <colgroup>
                <col span="1" style="width: 36%">
                <col span="1" style="width: 20%">
                <col span="1" style="width: 24%">
                <col span="1" style="width: 20%">
              </colgroup>
              <thead>
                <tr>
                  <th>Procedure</th>
                  <th>Date</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let procedure of priorProcedures">
                  <td>{{procedure.name}}</td>
                  <td>{{procedure.date}}</td>
                  <td>{{procedure.details}}</td>
                  <td>
                    <a routerLink="/">
                      <span>View More</span>
                      <img src="../../assets/link.png" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<app-healthcare-footer></app-healthcare-footer>