<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!--
Register Paitent Form
-->
<!-- Kefan - updated to match user story -->


  <!-- healthcare register -->
  <div>
    <app-landing-page-header></app-landing-page-header>
  </div>
  <h3 class="Heading text-center mb-5" style="margin-top: 84px;">Job Openings</h3>
  <div class="pt-3 pb-5 mb-5 jobs" fxLayoutAlign="center">
    <div class="mt-5 mb-5 angellist" id="angellist_embed" data-startup="onyx-6"></div>
  </div>
  <footer>
    <app-landing-page-subfooter></app-landing-page-subfooter>
  </footer>

