.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #faf6f2;
}
.loginHeading {
  font-family: "Tinos", serif;
  color: #2d5059;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width: 100%;
  display: table-cell;
  background-color: #faf6f2;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.card {
  background: #ffffff;
  /* Drop Shadow E200 */
  background-color: white;
  box-shadow: 0px 4px 8px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
  height: max-content;
  transition: 0.3s;

  width: 436px;
  margin: 0 auto;
  float: none;
  font-family: "Lato", sans-serif;
}
.container {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

a:link {
  color: black;
}

.form-element {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  /* margin-top: 5px; */
  font-weight: bold;
  margin-bottom: 5px;
  color: #1d1f26;
}

.form-element input {
  width: 400px;
  height: 40px;
  height: 40px;
  left: 0%;
  right: 0%;
  top: 25px;

  /* White */

  background: #ffffff;
  /* Grey 200 */

  border: 2px solid #e1e4eb;
  box-sizing: border-box;
  /* Inner Shadow E-100 */

  box-shadow: inset 0px 2px 2px rgba(29, 31, 38, 0.15);
  border-radius: 8px;
}

.form-element button {
  width: 400px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.loginBtn {
  color: white;
  background-color: #5c8a96;
  border: none;
}

.helpBtn,
.signUpBtn {
  color: #5c8a96;
  border: 2px solid #5c8a96;
  background-color: white;
}

/* .footer1{
  bottom:-10px!important;
  overflow: hidden;
  margin: 0 auto 0 auto;
  width: 100%;
  position: absolute;
} */

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #d3d3d3;
  height: 1px;
}

#emailField {
  margin-top: 20px;
}

@media screen and (max-width: 550px) {
  .card,
  .form-element input,
  .form-element button,
  .hr {
    width: 100% !important;
  }
  .loginHeading {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {
  .loginHeading {
    padding-top: 10px;
    font-size: 28px;
  }
  hr {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .card {
    height: 420px;
  }
}
