<div class="body">
  <div fxLayout="column">
    <app-healthcare-header></app-healthcare-header>
    <h3 class="loginHeading">Patient Login</h3>
    <!--heading--->
    <div class="card">
      <div class="container">
        <form
          ngNativeValidate
          [formGroup]="Form"
          (ngSubmit)="onSubmit()"
          fxLayout.md="column"
        >
          <div class="form-element" style="margin: 0px 0px 5px 0px">
            <br />
            Providers: Please log in through the
            <a routerLink="/healthcare/login" style="text-decoration: underline"
              >provider portal</a
            >
            <br />
          </div>

          <div class="form-element" id="emailField">
            <label>Email or Phone Number</label>

            <input
              [class.is-invalid]="
                Form.get('emailAddress').invalid &&
                Form.get('emailAddress').touched
              "
              formControlName="emailAddress"
              type="text"
              class="form-control"
              id="emailAddress"
              required
            />
            <small
              [class.d-none]="
                Form.get('emailAddress').valid ||
                Form.get('emailAddress').untouched
              "
              class="text-danger"
              >Email is required.</small
            >
          </div>
          <div class="form-element">
            <label>Password</label>
            <input
              [class.is-invalid]="
                Form.get('password').invalid && Form.get('password').touched
              "
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              required
            />
            <small
              [class.d-none]="
                Form.get('password').valid || Form.get('password').untouched
              "
              class="text-danger"
              >Password is required <br
            /></small>
            <label
              style="font-size: 13px; color: #5c8a96"
              onclick="window.location.href='patient/password/reset'"
              >Forgot your password?</label
            >
          </div>
          <small id="invalidEmailPrompt" class="text-danger d-none"
            >Email does not exist</small
          >
          <small id="invalidPasswordPrompt" class="text-danger d-none"
            >Please recheck your password</small
          >
          <div class="form-element">
            <button type="submit" class="loginBtn">Login</button>
          </div>
          <div class="form-element">
            <button
              type="button"
              onclick="window.location.href='faq'"
              class="helpBtn"
            >
              Help
            </button>
          </div>
          <hr />

          <div class="form-element">
            <label>New to ScriptChain?</label>
            <br />
            <button
              type="button"
              class="signUpBtn"
              style="margin: 0px 0px 5px 0px"
              routerLink="/patients/signup"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <app-healthcare-footer></app-healthcare-footer>
</footer>

<!-- <header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <h3 class="loginHeading">Welcome to ScriptChain</h3>
  <div>
    <div class="card">
      <form class="loginForm">
        <div class="form-group" style="margin-top: 20px">
          <label>Email or Phone Number</label>

          <input type="email" ng-model="username" required />
        </div>
        <div class="form-group">
          <label>Password</label>

          <input type="text" ng-model="password" required />
        </div>

        <hr />
        <button type="button" class="helpBtn">Login</button>

        <button type="button" class="helpBtn" style="margin-bottom: 20px">
          Help
        </button>
      </form>
      <hr />
      <label style="margin-left: 18px; font-weight: bold"
        >New to ScriptChain?</label
      >
      <button type="button" class="nextBtn">Sign-Up</button>
    </div>
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div> -->

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- <!DOCTYPE html>
<html lang="zxx">

<body>
patinet login -->
<!-- <section class="login py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="title-section mb-md-5 mb-4">
      <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Login</h3>
    </div>
    <div class="py-5" id="verificationsuccessful">
      <p align="center">Account verified. Please go to the login page to access your account.</p>
    </div>
    <div class="login px-sm-4 mx-auto mw-100 login-wrapper">
      <form ngNativeValidate class="login-wrapper" method="post" #patientLogin="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <small id="deactivatedEmail" class="text-danger d-none"><strong>Looks like you have deactivated your account, please check your email to reactivate.</strong><br/></small>
          <label>Email*</label>
          <input type="email" id="email" class="form-control" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" placeholder="" required [(ngModel)]="patientmodel.email">
          <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input type="password" id="password" class="form-control" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" placeholder="" required [(ngModel)]="patientmodel.password">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
          <small id="invalidEmailPrompt" class="text-danger d-none">Email does not exist</small>
          <small id="invalidPasswordPrompt" class="text-danger d-none">Please recheck your password</small>
          <a style ="text-align: center; padding-left: 35%;" routerLink="/patient/password/reset">Forgot Password</a>
        </div>
        <button type="submit" class="btn submit mt-4">Login</button>
        <p class="text-center mt-5">
          <a routerLink="/register">Don't have an Account?</a>
        </p>
      </form>
    </div>
  </div>
</section>
//patient login -->

<!-- <app-footer></app-footer>
</body>

</html>  -->