.holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  background: linear-gradient(to right, #D1E4BF, white);
}

.cards,
.video-container {
  flex: 1 50%;
  text-align: center;
}

.header {
  width: 100%;
  font-style: "Lato";
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  color: #2D5059;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}

.card {
  flex: 1 50%;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 10px 0;
}

mat-card {
  background-color: #2D5059;
  border-radius: 20px;
  width: 65%;
  height: 300px;
  color: white;
}

mat-card img {
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  width: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}

.video-container .video video{
  min-height: 500px;
  width: 100%;
}

.video-container .buttons {
  display: flex;
  margin-top: 20px;
}

.video-container .buttons button {
  background-color: #2D5059;
  color: seashell;
  font-family: "Lato";
  font-size: 15px;
  width: 90%;
  min-height: 40px;
  max-height: max-content;
  border-style: none;
  margin: 0 10px;
}
@media (max-width:959px) {
  .cards,
  .video-container {
    flex: 1 100%;
  }
  .video-container .video video{
    min-height: 100%;
    width: 100%;
  }
  .video-container .buttons {
    margin: 10px;
  }
}
@media (max-width:599px) {
  .card {
    flex: 1 100%;
  }
}
/*






mat-card-content{
  text-align: center;
}
h5{
  font-family: "Lato Bold";
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

p{
  font-family: "Lato";
  font-size: 14px;
}
video{
  margin-top: 15px;
  width: 90% ;
  height: 100%;
}


.smallVideo{
  border: 2px solid rgba(0,0,0,.125);
}
.buttonClass{
  width: 80% !important;
}
@media (max-width:699px) {
  mat-card{
    width: 73%;
  }
} */
