<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">


<body>
  <!-- patinet login -->
  <section class="login py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title-section mb-md-5 mb-4">
        <h3 class="w3ls-title text-uppercase text-dark font-weight-bold" style="padding-top: 50px">Your account has been reactivated</h3>
        <br/>
        <h5> Please click <a style="cursor: pointer; color:blue;" role="button" (click) = reRouteToLogin()>here</a>  to be login.</h5>
      </div>
    </div>
  </section>
  <!-- //patient login -->

  <app-footer></app-footer>
</body>

</html>
