
<div class="card">
  <div class="card-content">
    <!-- <a href="#" class="close"></a> -->
    <div class="title">
      <img src="./assets/InfoIc.png" />
      <label>Readmission Risk Info</label>
      <img id="crossIc" src="./assets/crossIcon.png" />
      <hr />
    </div>
    <div class="summary">
      <img src="./assets/summIc.png" style="margin-left: 18px" />
      <label style="margin-left: 9px">Summary</label>
    </div>
    <hr />
    <div class="approval">
      <img src="./assets/ApprovalIc.png" style="margin-left: 18px" />
      <label style="margin-left: 9px">Approval</label>


      <div class="link">
        <label style="margin-left: 18px; text-decoration: underline"
          >Link</label
        >
        <img src="./assets/LinkIc.png" style="margin-left: 9px" />
      </div>
    </div>
    <hr />
    <div class="supportDocuments">
      <img src="./assets/supportDocIc.png" style="margin-left: 18px" />
      <label style="margin-left: 9px">Supporting Documents</label>
      <div class="links">
        <label style="margin-left: 18px; text-decoration: underline"
          >Link</label
        >
        <img src="./assets/LinkIc.png" style="margin-left: 9px" />
        <br style="margin-bottom: 8px" />
        <label style="margin-left: 18px; text-decoration: underline"
          >Link</label
        >
        <img src="./assets/LinkIc.png" style="margin-left: 9px" />
        <br style="margin-bottom: 8px" />
        <label style="margin-left: 18px; text-decoration: underline"
          >Link</label
        >
        <img src="./assets/LinkIc.png" style="margin-left: 9px" />
      </div>
    </div>
    <hr />

    <div style="float: right; margin-top: 12px">
      <button type="button" class="closeBtn">Close</button>
    </div>
  </div>
</div>
