<div class="body"><app-landing-page-header></app-landing-page-header>
  <div class="top-right-square"></div>
  <div class="middle-square"></div>
  <div class="logo-container">
    <img
      class="csLogo"
      src="./assets/company-logo/scriptchain-health-logo-dark.svg"
    />
    <p class="csHeader">
      ScriptChain Health Capability Statement
    </p>
  </div>
  <!--Charan Jagwani: Creation of cards-->
  <!--Charan Jagwani: Card 1-->
  <div class="row mobile">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>
            <img
              src="../../assets/icons/head.svg"
              alt=""
              class="csImg"
            />
            Core Capabilities
          </h3>
          <p>
            Our machine learning engineers form algorithms, as well as design
            and implement solutions in the areas of:
          </p>
          <div class="capabilityContent2">
            <ul>
              <li>Predictive Analytics</li>
              <li>Data Integration / Transfer</li>
              <li>Better Patient Outcomes</li>
              <li>Optimize the Point of Care</li>
            </ul>
          </div>
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
      </div>
    </div>
    <!-- Creation of cards-->
    <!--Card 2--> 
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>
            <img
              src="../../assets/icons/ai-white.svg"
              alt=""
              class="csImg"
            />
            Machine Learning | AI | Risk Management
          </h3>
          <p>
            ScriptChain Health utilizes deep learning algorithms to provide
            individualized risk assessment and predicted readmission risk to
            healthcare providers through interfacing with major EMRs.
          </p>
          <p>
            Our actionable insights can save valuable physician time, improve
            workflow, and drastically reduce overhead costs through redfucing
            readmission rate.
          </p>
          <p>
            As a Minority Owned Small Business, ScriptChain Health is
            committed to excellence and creating innovative and cost-effective
            solutions for our health provider clients.
          </p>
          <p>What sets ScriptChain Health apart from the competition?</p>
          <ul>
            <li>Our People</li>

            <li>Innovative Machine Learning Capabilities</li>
            <li>Quality of Data</li>
            <li>User Interface Centered On Physician Convenience</li>
            <li>Integration With Major EMRs</li>
          </ul>
       
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          <!--Charan Jagwani: Card 3-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>
            <img
              src="../../assets/icons/analysis.svg"
              alt=""
              class="csImg"
            />Predictive Analytics
          </h3>
          <p>
            Our services in this area utilize data-points sourced from a
            patient’s history (as procured from the EMR) to individualize
            their risk measures, both in terms of readmission and likelihood
            of developing specific conditions.
          </p>
          <p>
            Our analytics are able to do this through analysis of an array of
            factors, including pre-existing conditions, variables such as BMI
            and blood pressure, as well as interpreting lab tests and clinical
            notes.
          </p>
          <p>
            This diagnostic capability benefits a health care provider
            organization through the following:
          </p>
          <ul>
            <li>Improvement of Physician Workflow</li>
            <li>Clinical Decision Support</li>
            <li>Individualized Patient Rist Assessement</li>
            <li>Reduction of Healthcare waste (lowering readmission)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--Charan Jagwani: Data Integration/Transfer-->
  <h3 class="dataInteg">
    <img
      src="../../assets/icons/distributed.svg"
      alt=""
      class="csImg"
    />Data Integration / Transfer
  </h3>
  <div fxHide fxShow.gt-xs class="contentwhite2">
    <div class="wrapper2">
      <div class="dataContent1">
        <p>
          Through being developed with integration with the Big Five EMR
          systems in mind: Cerner, Athena, Allscripts, EPIC, and Meditech, we
          interface directly with data pulled from their APIs.
        </p>

        <p>
          By facilitating the movement of data across hospitals and providers
          in a customizable patient profile, we ensure that patient data is
          safe and easily accessible.
        </p>
      </div>

      <div>
        <p>This means:</p>
        <ul>
          <li>
            Any Physician Using ScriptChain Health Can Access Patient Data
          </li>
          <li>Drastically Lowered Wait Times</li>
          <li>Automated Data Interpretation Between Patient Appointments</li>
          <li>Cloud-Based Storage</li>
        </ul>
      </div>
    </div>
  </div>
  <div fxShow fxHide.gt-xs class="contentwhite2">
    <div>
      <div class="dataContent1">
        <p>
          Through being developed with integration with the Big Five EMR
          systems in mind: Cerner, Athena, Allscripts, EPIC, and Meditech, we
          interface directly with data pulled from their APIs.
        </p>

        <p>
          By facilitating the movement of data across hospitals and providers
          in a customizable patient profile, we ensure that patient data is
          safe and easily accessible.
        </p>
      </div>

      <div>
        <p>This means:</p>
        <ul>
          <li>
            Any Physician Using ScriptChain Health Can Access Patient Data
          </li>
          <li>Drastically Lowered Wait Times</li>
          <li>Automated Data Interpretation Between Patient Appointments</li>
          <li>Cloud-Based Storage</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="information">
    <div class="information2">
      <div class="content2">
        <h3>
          <img
            src="../../assets/icons/capitol.svg"
            alt=""
            class="csImg"
          />Quasi Government
        </h3>
        <ul>
          <li>National Science Foundation (NSF)</li>
        </ul>
      </div>
    </div>
    <!--Charan Jagwani: North American Industry Classification System-->
    <div class="content3">
      <h3>
        <img
          src="../../assets/icons/document.svg"
          alt=""
          class="csImg"
        /><strong>North American Industry Classification System (NAICS)</strong>
      </h3>


        <span>
          <ul>
            <li>511210</li>
            <li>541511</li>
            <li>541519</li>
          </ul>
          <ul>
            <li>813920</li>
            <li>621999</li>
            <li>561499</li>
          </ul>
        </span>

    </div>
   </div>
  <!--Charan Jagwani: General Info/Contact-->
  <div  class="contentwhite">
    <div fxHide fxShow.gt-xs class="wrapper2">
      <div class="generalContent">
        <h3>
          <img
            src="../../assets/icons/information-service.svg"
            alt=""
            class="csImg"
          /><strong>General Information</strong>
        </h3>
        <p>
          <strong>Company Name: </strong> ScriptChain, LLC <br />
          <strong>DBA: </strong>N/A<br /><strong>Year Incorporated: </strong>
          April, 2019<br />
          <strong>State of Incorporation: </strong>Massachusetts <br />
          <strong>Corporation Type: </strong> LLC <br />
          <strong>D-U-N-S Number: </strong>117047988 <br />
          <strong>Cage Code: </strong>8DF38
        </p>
      </div>

      <div class="contactContent">
        <h3>
          <img
            src="../../assets/icons/mail.svg"
            alt=""
            class="csImg"
          /><strong>Contact Information</strong>
        </h3>
        <p>
          <strong>Email: </strong>moh@scriptchain.co<br />
          <strong>Web: </strong>https://scriptchain.co/home
        </p>
      </div>
    </div>
    <div fxShow fxHide.gt-xs>
      <div class="generalContent">
        <h3>
          <img
            src="../../assets/icons/information-service.svg"
            alt=""
            class="csImg"
          /><strong>General Information</strong>
        </h3>
        <p>
          <strong>Company Name: </strong> ScriptChain, LLC <br />
          <strong>DBA: </strong>N/A<br /><strong>Year Incorporated: </strong>
          April, 2019<br />
          <strong>State of Incorporation: </strong>Massachusetts <br />
          <strong>Corporation Type: </strong> LLC <br />
          <strong>D-U-N-S Number: </strong>117047988 <br />
          <strong>Cage Code: </strong>8DF38
        </p>
      </div>

      <div class="contactContent">
        <h3>
          <img
            src="../../assets/icons/mail.svg"
            alt=""
            class="csImg"
          /><strong>Contact Information</strong>
        </h3>
        <p>
          <strong>Email: </strong>moh@scriptchain.co<br />
          <strong>Web: </strong>https://scriptchain.co/home
        </p>
      </div>
    </div>
  </div>
  <app-landing-page-subfooter></app-landing-page-subfooter>
</div>
