<form class="example-form" >
  <mat-form-field class="example-full-width" style="width: 100%">
    <mat-chip-list #chipList>
      <mat-chip style="margin-top:0.4em;" *ngFor="let option of  this.dataService.searchOption" (removed)="removeOption(option)">
  
        <span>{{option.searchTerm}}</span>
        
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #autocompleteInput class="inputBox" type="text" aria-label="Number" [formControl]="myControl"
        [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event,filterSelection)">
          {{option.searchTerm}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  
  </mat-form-field>
  <p>Search for</p>
  <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="filterSelection" name = "filterForm">
  <mat-radio-button class="example-radio-button" *ngFor="let filter of availableFilters;" [value]="filter.name" [checked]="filter.checked" >
    {{filter.displayName}}
  </mat-radio-button>
</mat-radio-group>

  
  </form>