.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .inputBox{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
  }

  ::ng-deep .mat-form-field-underline{
    display: none;
}