<!--
Register All Form
-->
<!DOCTYPE html>
<html lang="zxx">
  <body>
    <!-- //main -->
    
    <!-- Register all -->
    <section class="login py-5">
      <div class="container py-xl-5 py-lg-3" *ngIf="visible">
        <h2>Please Choose A New Password</h2>
        <form ngNativeValidate [formGroup]="Form" (ngSubmit)="onSubmission()">
          <div class="form-group">
            <label><strong> Password*</strong></label>
            <input
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,^,&,*]).{6,20}"
              [class.is-invalid]="
                Form.get('password').invalid && Form.get('password').touched
              "
              formControlName="password"
              type="password"
              class="form-control"
              required
            />
            <small
              [class.d-none]="
                Form.get('password').valid || Form.get('password').untouched
              "
              class="text-danger"
              >Invalid password &#10060; , include a capital letter, number and
              special symbol(ex: !,@,?...)
            </small>
            <small
              [class.d-none]="
                Form.get('password').invalid || Form.get('password').untouched
              "
              class="text-danger"
            >
              Valid &#10004;
            </small>
          </div>
          <div class="form-group">
            <label> <strong>Re-enter Password*</strong></label>
            <input
              [class.is-invalid]="
                Form.get('rePassword').invalid && Form.get('rePassword').touched
              "
              formControlName="rePassword"
              type="password"
              class="form-control"
              required
            />
            <small
              [class.d-none]="
                Form.get('rePassword').valid || Form.get('rePassword').untouched
              "
              class="text-danger"
              >Please re-enter the password</small
            >
          </div>
          <div class="n-right-w3ls mt-5 pt-lg-4">
            <button
              class="submit btn font-weight-bold"
              type="submit"
              id="submitButton"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="container py-xl-5 py-lg-3" *ngIf="!visible">
        <h3>Password has been succesfully reset</h3>
      </div>
      <div class="container py-xl-5 py-lg-3" *ngIf="errorVisible">
        <h5 style="color: red">Passwords do not match</h5>
      </div>
      <div class="container py-xl-5 py-lg-3" *ngIf="errorUpdating">
        <h3>
          An error has occured trying to update your password. Please retry or
          contact support.
        </h3>
      </div>
    </section>
    <!-- //register all -->

    <!-- footer -->
    <app-footer id="footer"></app-footer>
    <!-- //copyright -->
    <!-- //footer bottom -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->
  </body>
</html>
