<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
    <img src="./assets/arrowIcon.png" />
    <img src="./assets/Union.png" />
    <label>prescriptions</label>
  </div>
  <h3 class="loginHeading">Prescriptions</h3>
  <div style="display: flex; flex-direction: column;-webkit-box-orient: vertical;">
    <div class="medications">
      <div style="border-bottom: 2px solid #B0B4BF;width: 100%;padding-left: 12px;
      padding-bottom: 7px;">
        <div id="uppertext">
          <img src="./assets/Rectangle136.png"/>
          <span class="medicationstext">Medications</span>
        </div>
        <p id="italic">You should currently be taking</p>
      </div>
      <div style="width: 90%;margin: 5%;">
        <div class="colr green" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Medication Name
        <img style="padding-left: 15%;" src="./assets/DetailsButton.png" /></div>
        <div class="colr green" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Medication Name
        <img style="padding-left: 15%;" src="./assets/DetailsButton.png" /></div>
        <div class="colr green" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Medication Name
        <img style="padding-left: 15%;" src="./assets/DetailsButton.png" /></div>
      </div>
    </div>

    <div class="medications">
      <div style="border-bottom: 2px solid #B0B4BF;width: 100%;padding-left: 12px;
      padding-bottom: 7px;">
        <div id="uppertext">
          <img src="./assets/Rectangle136.png"/>
          <span class="medicationstext">Text and Studies</span>
        </div>
        <p id="italic">You should currently be taking</p>
      </div>
      <div style="width: 90%;margin: 5%;">
        <div class="colr purple" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Test Name
        <img style="padding-left: 34%;" src="./assets/DetailsButton.png" /></div>
        <div class="colr purple" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Test Name
        <img style="padding-left: 34%;" src="./assets/DetailsButton.png" /></div>
      </div>
    </div>

    <div class="medications">
      <div style="border-bottom: 2px solid #B0B4BF;width: 100%;padding-left: 12px;
      padding-bottom: 7px;">
        <div id="uppertext">
          <img src="./assets/PastPrescriptionsicon.png"/>
          <span class="medicationstext">Past Prescriptions</span>
        </div>
        <p id="italic">You should currently be taking</p>
      </div>
      <div style="width: 90%;margin: 5%;">
        <div class="colr crimson" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Medication Name
        <img style="padding-left: 15%;" src="./assets/DetailsButton.png" /></div>
        <div class="colr crimson" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Medication Name
        <img style="padding-left: 15%;" src="./assets/DetailsButton.png" /></div>
        <div class="colr purple" style="font-family: Lato;font-style: normal;font-weight: bold;margin-bottom: 5%;">Test Name
          <img style="padding-left: 34%;" src="./assets/DetailsButton.png" /></div>
      </div>
    </div>
  </div>
  

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
