<!-- Authors and their contributions: -->
<!-- Vidit: Worked on the entire page  -->
<!-- Stephanie - updated compatibility with WP API objects and attributes -->
<!-- Kefan - update go back button and related post part, also work with the whole page-->
<!-- Siheng - Make the sharing icon below clicable -->

<app-landing-page-header></app-landing-page-header>
<div fxLayout="column" style="background-color: #faf6f2; margin-top: 64px">
  <div fxFlexFill>
    <div
      class="py-5 text-center"
      style="
        background-image: url(./assets/blog-header-bkgrd.jpg);
        height: 263px;
      "
    >
      <p class="postTitle my-5">{{ title }}</p>
    </div>
  </div>
  <div class="justify-content-center" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row">
      <div class="container text-justify mt-5 ml-gt-md-5 goBack">
        <a class="back" (click)="goBack()"> < back</a>
      </div>
      <div
        class="container text-justify mt-5 mr-gt-md-5"
        fxLayout.xs="column"
        fxLayout.sm="row"
        fxLayout.md="row"
        fxLayout.lg="row"
        fxLayout.xl="row"
        fxLayoutGap="20px"
        fxLayoutGap.xs="0px"
        fxLayoutAlign.xl="end"
        fxLayoutAlign.lg="end"
        fxLayoutAlign.md="end"
      >
        <h4 class="blogInfo">> written by {{ authorName }}</h4>
        <h4 class="blogInfo mt-sm-md-1">>{{ date | date : "short" }}</h4>
      </div>
    </div>

    <div class="share-text">Share this post:</div>
    <div class="share">
      <div class="mb-3">
        <!-- <button shareButton="linkedin"> -->
        <a
          href="#"
          onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=' + encodeURIComponent(window.location.protocol + '//' + 'scriptchain.co' + window.location.pathname + window.location.search), '_blank', 'width=600,height=600'); return false;"
        >
          <img
            src="./assets/icons/linkedin.svg"
            alt=""
            class="img-rounded img-fluid"
            width="40px"
            height="40px"
          />&nbsp;
        </a>
        <!-- <button shareButton="twitter"> -->
        <a
          href="#"
          onclick="window.open('https://twitter.com/share?url=' + encodeURIComponent(window.location.protocol + '//' + 'scriptchain.co' + window.location.pathname + window.location.search), '_blank', 'width=600,height=600'); return false;"
        >
          <img
            src="./assets/icons/twitter.svg"
            alt=""
            class="img-rounded img-fluid"
            width="40px"
            height="40px"
          />&nbsp;
        </a>
        <!-- <button shareButton="facebook"> -->
        <a
          href="#"
          onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.protocol + '//' + 'scriptchain.co' + window.location.pathname + window.location.search), '_blank', 'width=600,height=600'); return false;"
        >
          <img
            src="./assets/icons/facebook.svg"
            alt=""
            class="img-rounded img-fluid"
            width="40px"
            height="40px"
          />&nbsp;
        </a>
        <!-- <button shareButton="pinterest"> -->
        <a
          href="#"
          onclick="window.open('https://www.pinterest.com/pin/create/button/?url=' + encodeURIComponent(window.location.protocol + '//' + 'scriptchain.co' + window.location.pathname + window.location.search), '_blank', 'width=600,height=600'); return false;"
        >
          <img
            src="./assets/icons/pinterest.svg"
            alt=""
            class="img-rounded img-fluid"
            width="40px"
            height="40px"
          />
        </a>
      </div>
    </div>

    <div
      class="text-justify post-body mb-5"
      #contentContainer
      fxFlex.xs="100%"
      fxFlex.sm="75%"
      fxFlex.lg="75%"
      fxFlex.xl="75%"
    ></div>

    <p class="keywords mb-5">> Keywords: {{ keywords }}</p>
  </div>
  <div class="mb-5 ml-3 mr-3 related" fxLayout="column">
    <h3 class="divider mt-5 pt-5 ml-3 mr-3" fxLayoutAlign="center"></h3>
    <p class="related-posts ml-3 mr-3" fxLayoutAlign="start">Related Posts</p>
    <div fxLayout="row wrap">
      <app-blog-card
        *ngFor="let blog of relateList"
        [blogCategories]="blog.categories"
        [blogTitle]="blog.title"
        [blogContent]="blog.content"
        [blogExcerpt]="blog.excerpt"
        [blogImg]="blog.post_thumbnail.URL"
        [blogID]="blog.ID"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33.33%"
        fxFlex.lg="33.33%"
        fxFlex.xl="33.33%"
      >
      </app-blog-card>
    </div>
  </div>
</div>
<div>
  <app-landing-page-subfooter></app-landing-page-subfooter>
</div>
