<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
    <img src="./assets/arrowIcon.png" />
    <img src="./assets/st.png" />
    <label>Conditions</label>
  </div>
  <h3 class="loginHeading">Conditions</h3>
  <div style="display: flex;flex-direction: column;">
    <div class="docInfo">
      <div id="uppertext">
        <span class="medicationstext">Condition Name</span>
      </div>
      <div style="border-bottom: 2px solid #E1E4EB;width:100%">
        <p><span class="bolded">Date Diagnosed: </span>mm/dd/yyyy</p>
        <p><span class="bolded">Diagnosed by: </span>Dr. First Last, MD</p>
      </div>
      <div class="divs" style="margin-top: 2%;">
        <button class="buttoncontent">Contact Physician</button>
      </div>
    </div>
    <div class="docInfo">
      <div id="uppertext">
        <span class="medicationstext">Condition Name</span>
      </div>
      <div style="border-bottom: 2px solid #E1E4EB;width:100%">
        <p><span class="bolded">Date Diagnosed: </span>mm/dd/yyyy</p>
        <p><span class="bolded">Diagnosed by: </span>Dr. First Last, MD</p>
      </div>
      <div class="divs" style="margin-top: 2%;">
        <button class="buttoncontent">Contact Physician</button>
      </div>
    </div>
  </div>
  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
