<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements" style="padding: 0.9%">
    <img src="./assets/homeIcon.png" />
    <label>Home</label>
  </div>
  <h3 class="loginHeading">Select a Profile</h3>
  <div class="images">
    <div class="avatar_div">
      <img src="./assets/Avatar1.png"/>
      <span class="myprofile">My Profile</span>
      <span id="test">Reza Saatchi</span>
    </div>
    <div class="avatar_div">
      <img src="./assets/Avatar1.png"/>
      <span class="myprofile">Reza Saatchi</span>
    </div>
    <div class="avatar_div">
      <img src="./assets/Avatar1.png"/>
      <span class="myprofile">Sam Johnson</span>
    </div>
  </div>

  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
