<!-- Authors and their contributions:
  Denis- Design Update
  Siheng - Refactored to remove the unnecessary html&head&body tags
-->

<!-- 
  Siheng:
    :host selector is not working to change the background color of the page
    so we have to use the div class to change the background color
    maybe we can fix this in the future
  Siheng: 
    :host selector is now working to change the background color of the page
 -->
<!-- <div class="faq-background"> -->
<div>
  <app-landing-page-header></app-landing-page-header>
</div>
<div class="mobile">
  <!-- Header -->
  <mat-grid-list cols="2" rowHeight="200px" [gutterSize]="'10px'">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <h3 class="loginHeading">Frequently Asked Questions</h3>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- All cards
    *ngFor creates a card for each element on array (check .ts)
    ngClass gives isCollapsed classed if clicked (if it doesnt have or removes it if it has)
  -->
  <div
    *ngFor="let datas of dataInfo"
    [ngClass]="{
      isCollapsed: !datas.isCollapsed,
      collapsed: datas.isCollapsed
    }"
    class="small-card"
    (click)="datas.isCollapsed = !datas.isCollapsed"
  >
    <!-- Displays all the data from the array -->
    <span>{{ datas.title }}</span>
    <!-- Check if collapsed then displays the proper arrow -->
    <a *ngIf="datas.isCollapsed"
      ><img src="../../assets/icons/arrow-down-short.svg" alt=""
    /></a>
    <a *ngIf="!datas.isCollapsed"
      ><img src="../../assets/icons/arrow-up-short.svg" alt=""
    /></a>
    <!-- If not collapsed doesnt display -->
    <div *ngIf="!datas.isCollapsed">{{ datas.info }}</div>
  </div>
</div>
<footer style="margin-top: 10%">
  <app-landing-page-subfooter></app-landing-page-subfooter>
</footer>
<!-- </div> -->

<!-- Codes below are commented by Siheng Wei cause they are refactored as above -->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!~~ Hotjar Tracking Code for https://www.scriptchain.co/home ~~>
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2374837, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>
  <body>
    <div>
      <app-landing-page-header></app-landing-page-header>
    </div>
    <div class="mobile">
      <!~~ Header ~~>
      <mat-grid-list cols="2" rowHeight="200px" [gutterSize]="'10px'">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <h3 class="loginHeading">Frequently Asked Questions</h3>
        </mat-grid-tile>
      </mat-grid-list>
      <!~~ All cards
        *ngFor creates a card for each element on array (check .ts)
        ngClass gives isCollapsed classed if clicked (if it doesnt have or removes it if it has)
      ~~>
      <div
        *ngFor="let datas of dataInfo"
        [ngClass]="{
          isCollapsed: !datas.isCollapsed,
          collapsed: datas.isCollapsed
        }"
        class="small-card"
        (click)="datas.isCollapsed = !datas.isCollapsed"
      >
        <!~~ Displays all the data from the array ~~>
        <span
          >{{
            datas.title
          }}</span
        >
        <!~~ Check if collapsed then displays the proper arrow ~~>
        <a *ngIf="datas.isCollapsed"
          ><img src="../../assets/icons/arrow-down-short.svg" alt=""
        /></a>
        <a *ngIf="!datas.isCollapsed"
          ><img src="../../assets/icons/arrow-up-short.svg" alt=""
        /></a>
        <!~~ If not collapsed doesnt display ~~>
        <div *ngIf="!datas.isCollapsed">{{ datas.info }}</div>
      </div>
    </div>
    <footer style="margin-top: 10%">
      <app-landing-page-subfooter></app-landing-page-subfooter>
    </footer>
  </body>
</html> -->

<!-- <div class="content1">
  <h3 id="loginHeading">Frequently Asked Questions</h3>
</div>
<div class="card">
  <div class="card-container">
    <h5>What is ScriptChain Health?</h5>
    <p>
      ScriptChain Health is an AI based platform that helps physicians with
      identifying high risk patients of readmission and cardiovascular
      disease with actionable insights. We are a plug-in to the major EMR
      systems that helps physicians save time and generate more revenue for
      their facility.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>Who are the users?</h5>
    <p>
      Our main users are Primary Care Physicians and Cardiologists.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>How can I sign up?</h5>
    <p>
      We have a sign up form that you can fill out and we will keep you
      informed with our progress and launch! Looking forward to speaking to
      you soon!
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>What is a digital health platform?</h5>
    <p>
      Digital health technologies use computing platforms, connectivity,
      software, and sensors for health care and related uses. These
      technologies span a wide range of uses, from applications in general
      wellness to applications as a medical device.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>What is AI in Cardiology?</h5>
    <p>
      AI in cardiology programs computers to process and respond to data
      quickly and consistently for better treatment outcomes. Uses include
      detecting heart disease, treating strokes faster and enhancing
      diagnostic radiology capabilities.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>Why are hospital readmissions a problem?</h5>
    <p>
      Readmissions have a negative impact on revenue, due to penalties
      charged by CMS and other payers. The cost of hospital readmissions is
      enormous, estimated to be in the vicinity of $26 billion annually
      (Wilson, 2019), so it’s no wonder Medicare is working to reduce this
      amount. According to the Advisory Board, “In FY 2019, 82% of hospitals
      in the program received readmissions penalties.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>What is the future of digital health?</h5>
    <p>
      Innovations such as artificial intelligence are making a difference in
      quality of care, according to experts in a recent panel discussion.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>Why is preventive health care important?</h5>
    <p>
      Getting preventive care reduces the risk for diseases, disabilities,
      and death — yet millions of people in the United States don’t get
      recommended preventive health care services
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>What is software as a medical device?</h5>
    <p>
      It is "software intended to be used for one or more medical purposes
      that perform these purposes without being part of a hardware medical
      device."
    </p>
  </div>
</div> -->

<!-- These are old questions that may be used in the future. -->

<!-- <div class="card">
  <div class="card-container">
    <h5>Is this service free?</h5>
    <p>
      We have a software as a service model so we charge customers based on
      their usage bracket but are looking for beta volunteers to try out the
      platform for free for the first 50 patients!
    </p>
  </div>
</div>
<div class="card">
  <div class="card-container">
    <h5>When are we going to launch?</h5>
    <p>We are looking to launch officially nationwide early 2022.</p>
  </div>
</div>

<div class="card">
  <div class="card-container">
    <h5>Why is our domain tailored towards cardiovascular diseases?</h5>
    <p>
      Cardiovascular disease is the #1 cause of death not just in the United
      States but in the entire world, accumulating to around 18 million
      deaths in 2017 alone and the figures are growing annually. Since we
      are in preventive medicine, we believe we can make a significant
      difference in people's lives by intervening in the disease before
      patients are diagnosed and looking to lower the readmission rate in
      the nation that costs the healthcare system around $500M a week.
    </p>
  </div>
</div> -->
