/* Authors and their contributions:
    Denis- Design Update
    Siheng - Design Update & :host selector worked
 */

:host {
  display: block;
  margin: 0;
  background: linear-gradient(to right, #d1e4bf, white);
  height: max-content;
}

.loginHeading {
  text-align: center;
  font-family: "Tinos";
  font-size: 36px;
  color: #2d5059;
  font-weight: bold;
  margin-top: 70px;
}

.mobile div {
  margin: 15px auto;
}

.small-card {
  position: relative;
  text-align: left;
  min-width: 350px;
  max-width: 75vw;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px 10px;
  text-align: left;
}

.small-card span {
  display: inline-block;
  font-size: 18px;
  font-family: "Lato";
  font-weight: bold;
  text-align: left;
  width: 80%;
}
.small-card a {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 26px;
}
.small-card div {
  font-size: 14px;
  font-family: "Lato";
}
