<header>
  <app-healthcare-header></app-healthcare-header>
</header>
<div style="background-color: #faf6f2">
  <div class="inline-elements" style="padding: 0.7%">
    <img src="./assets/backArrow.png" />

    <label>Back to Prescriptions</label>
  </div>
  <div id="medicdetails">
    <div class="colr green" style="font-family: Lato;font-style: normal;font-weight: bold;margin: -5% 2% 5% 2%;">Medication Name
    <img style="padding-left: 26%;" src="./assets/CloseButton.png" /></div>
    <p><span class="bolded">Dose:</span> 000 mg</p>
    <p><span class="bolded">Date Prescribed:</span> mm/dd/yyyy</p>
    <p><span class="bolded">Physician:</span> Dr. First Last, MD</p>
    <p><span class="bolded">Directions:</span> Take twice daily with food, once in the morning and once in the evening.</p>
    <p><span class="bolded">Notes:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button class="buttoncontent">Contact Physician</button>
  </div>
  <footer>
    <app-healthcare-footer></app-healthcare-footer>
  </footer>
</div>
