
<div class="screen">
  <div fxHide fxShow.gt-sm fxLayout="row">
    <div class="left" fxFlex="50" >
      <div>
        <h1>
          <p># 1 </p>AI Prediction Platform for <a class="anchor" href="#">Heart Disease </a> <a class="anchor" href="#">Readmission</a>
        </h1>
        <button id="request-demo" routerLink="/request-access">Request Demo</button>
      </div>
    </div>
    <div class="image" fxFlex="50" style="background-image: url(../../assets/images/doctor.png);">
    </div>
  </div>

  <div fxShow fxHide.gt-sm fxLayout="column">
    <div class="left top">
      <div>
        <h1 class="smallWelcome">
          <p># 1 </p>AI Prediction Platform for <a class="anchor" href="#">Heart Disease </a> <a class="anchor" href="#">Readmission</a>
        </h1>
      </div>
      <button routerLink="/request-access">Request Demo</button>
    </div>
    <div class="image bottom"  style="background-image: url(../../assets/images/doctor.png)">
    </div>
  </div>
</div>


<!-- <p>#1</p> AI FOR <a href="#">READMISSION</a> & <a href="#">CARDIOVASCULAR DISEASE</a> PREVENTION -->
