<body>
  <app-patient-navbar></app-patient-navbar>
  <div class="container mt-4">
    <h1 id="firstname"></h1>
  </div>

  <section class="login py-5">
    <div class="container py-xl-5 py-lg-3" *ngIf="visible">
      <h2>Change Your Password</h2>
      <form ngNativeValidate [formGroup]="Form" (ngSubmit)="onSubmission()">
        <div class="form-group">
          <label><strong> Old Password</strong></label>
          <input
            [class.is-invalid]="
              Form.get('oldPassword').invalid && Form.get('oldPassword').touched
            "
            formControlName="oldPassword"
            type="password"
            class="form-control"
            required
          />
          <small
            [class.d-none]="
              Form.get('oldPassword').valid || Form.get('oldPassword').untouched
            "
            class="text-danger"
            >Old password is required.</small
          >
        </div>
        <div class="form-group">
          <label><strong> New Password*</strong></label>
          <input
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!,@,#,$,%,^,&,*]).{6,20}"
            [class.is-invalid]="
              Form.get('password').invalid && Form.get('password').touched
            "
            formControlName="password"
            type="password"
            class="form-control"
            required
          />
          <small
            [class.d-none]="
              Form.get('password').valid || Form.get('password').untouched
            "
            class="text-danger"
            >Invalid password &#10060; , include a capital letter, number and
            special symbol(ex: !,@,?...)
          </small>
          <small
            [class.d-none]="
              Form.get('password').invalid || Form.get('password').untouched
            "
            class="text-danger"
          >
            Valid &#10004;
          </small>
        </div>
        <div class="form-group">
          <label> <strong>Re-enter new Password*</strong></label>
          <input
            [class.is-invalid]="
              Form.get('rePassword').invalid && Form.get('rePassword').touched
            "
            formControlName="rePassword"
            type="password"
            class="form-control"
            required
          />
          <small
            [class.d-none]="
              Form.get('rePassword').valid || Form.get('rePassword').untouched
            "
            class="text-danger"
            >Please re-enter the password</small
          >
          <br />
          <button class="btn btn-secondary" type="submit" id="submitButton">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="container py-xl-5 py-lg-3" *ngIf="!visible">
      <small> Password has been succesfully reset </small>
    </div>
    <div class="container py-xl-5 py-lg-3" *ngIf="wrongPassword">
      <small style="color: red">Incorrect old password has been entered </small>
    </div>
    <div class="container py-xl-5 py-lg-3" *ngIf="errorVisible">
      <small style="color: red"
        >Could not update password at the given time.
      </small>
    </div>
    <div class="container py-xl-5 py-lg-3" *ngIf="!passwordsMatch">
      <small style="color: red">Passwords do not match </small>
    </div>
    <div class="container py-xl-5 py-lg-3">
      <h5>Click below to deactivate your account</h5>
      <button class="btn btn-primary" (click)="deactivateUser()">
        DEACTIVATE
      </button>
    </div>
    <div class="container py-xl-5 py-lg-3" *ngIf="couldNotDeactivate">
      <small style="color: red">Incorrect old password has been entered </small>
    </div>
  </section>

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-148334798-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-148334798-1");
  </script>
</body>
