<div>
  <app-landing-page-header></app-landing-page-header>
  <div style="background-color: #faf6f2">
    <div>
      <div>
        <!-- <img src="./assets/logo6.png" id="logo" style="padding: 5%" /> -->
        <h1>Thank you for applying to be a ScriptChain partner.</h1>
      </div>

      <h4>
        We will review your information and do our best to get back to you soon.
      </h4>
      <a [routerLink]="['/becomeapartner']">
        <h6>Back to scriptchain.com/becomeapartner</h6></a
      >
      <a [routerLink]="['/privacypolicy']">
        <h6 style="padding-bottom: 10%">Privacy Policy</h6></a
      >
    </div>
  </div>
  <app-landing-page-subfooter></app-landing-page-subfooter>
</div>
