h1 {
  color: #2d5059;
  text-align: center;
  padding: 5%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

h4 {
  color: #5c8a96;
  font-family: "Lato", sans-serif;
  text-align: center;
}

h6 {
  text-decoration: underline;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#logo {
  width: 200px;
  height: 100px;
  left: 496px;
  top: 183px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
  border-radius: 8px;
}
